<div>

	<div ng-hide="report" class="alert alert-info">
		<i class="fa fa-cog fa-spin"></i> Analyse de votre document ...
	</div>

	<div ng-show="report">
		<div ng-show="isValid()" class="alert alert-success">
			<h2>Votre document est valide et peut maintenant &ecirc;tre publi&eacute;.</h2>
			<h4 class="color-darkgrey"> Veuillez consulter votre document avant de le publier. Tous les documents publi&eacute;s sont rendus publics.</h4>
		</div>


		<div ng-show="hasErrors()" class="alert alert-warning">
			<h2 class="color-red">Votre document contient des erreurs.</h2>
			<h4 class="color-darkgrey"> Toutes les erreurs doivent &ecirc;tre corrig&eacute;es avant que ce document puisse &ecirc;tre publi&eacute;</h4>
			<ul>
				<li ng-repeat="error in report.errors" title="{{error.parameters}}">
					{{getTranslation(error.code, error.property, error.parameters)}} / <a translation-url href="#" ng-click="jumpTo(error.property)">{{getLabel(error.property)}}</a>
				</li>
			</ul>
		</div>

		<div ng-show="hasWarnings()" class="alert alert-info">
			<h2 class="color-red">Votre document contient des avertissements.</h2>
			<ul>
				<li ng-repeat="error in report.warnings" title="{{error.parameters}}">
					{{getTranslation(error.code, error.property, error.parameters)}} / <a translation-url href="#" ng-click="jumpTo(error.property)">{{getLabel(error.property)}}</a>
				</li>
			</ul>
		</div>
</div>
