<div class="viewForm">
	<h2>{{document.title | lstring:locale}} <i ng-show="document.acronym">({{document.acronym | lstring:locale}})</i></h2>

	<div ng-show="document.government">
		<label>Pa&iacute;s</label>
		<div class="km-value">
			{{document.government | term:locale}}
		</div>
	</div>

	<div ng-show="document.description">
		<label>Justificaci&oacute;n de la meta nacional</label>
		<div class="km-value km-pre" ng-bind="document.description | lstring:locale"></div>
	</div>


	<div ng-show="document.jurisdiction||document.jurisdictionInfo">

		<legend>Nivel de aplicaci&oacute;n</legend>

		<div ng-show="document.jurisdiction">
			<div class="km-value">
				{{document.jurisdiction | term:locale}}
			</div>
		</div>

		<div ng-show="document.jurisdictionInfo">
			<label>Detalles sobre el nivel de aplicaci&oacute;n</label>
			<div class="km-value km-pre" ng-bind="document.jurisdictionInfo | lstring:locale"></div>
		</div>
	</div>


	<div ng-show="document.aichiTargets || document.otherAichiTargets">

		<legend>Pertinencia de las metas nacionales en relaci&oacute;n con las Metas de Aichi para la Diversidad Biol&oacute;gica</legend>

		<div ng-show="document.aichiTargets">
			<label>Metas de Aichi para la diversidad biol&oacute;gica</label>
			<div class="km-value" ng-repeat="item in document.aichiTargets">{{item | term:locale}}</div>
		</div>

		<div ng-show="document.otherAichiTargets">
			<label>Submetas de Aichi</label>
			<div class="km-value" ng-repeat="item in document.otherAichiTargets">{{item | term:locale}}</div>
		</div>
		<div ng-show="document.noOtherAichiTargetsDescription">
			<label>La explicaci&oacute;n sobre la meta nacional no tiene una Meta de Aichi para la Diversidad Biol&oacute;gica o se relaciona con otras partes del Plan Estrat&eacute;gico para la Biodiversidad</label>
			<div class="km-value km-pre" ng-bind="document.noOtherAichiTargetsDescription | lstring:locale"></div>
		</div>
		
	</div>

	<div ng-show="document.documentText||document.documentLinks">

		<legend>Documentos y enlaces &uacute;tiles</legend>

		<div ng-show="document.documentText">
			<label>Otra informaci&oacute;n pertinente</label>
			<div class="km-value km-pre">{{document.documentText|lstring:locale}}</div>
		</div>

		<div ng-show="document.documentLinks">
			<label>Sitios web, enlaces web y archivos pertinentes</label>
			<div class="km-value" ng-repeat="item in document.documentLinks">
				<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
			</div>
		</div>
	</div>


	<div ng-show="document.relevantInformation||document.relevantDocuments">

		<legend>Informaci&oacute;n suplementaria</legend>

		<div ng-show="document.relevantInformation">
			<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale | markdown"></div>
		</div>

		<div ng-show="document.relevantDocuments">
			<label>Other relevant website address or attached documents</label>
			<div class="km-value" ng-repeat="item in document.relevantDocuments">
				<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
			</div>
		</div>

	</div>
</div>
