<div class="viewForm">
	<h2>{{document.title | lstring:locale}} <i ng-show="document.acronym">({{document.acronym | lstring:locale}})</i></h2>
	<style>
		.panel-header,
		.section .section-header {
			border-bottom: 1px solid #ddd;
			padding-left: 10px;
		}
		
		.help-block {
			text-align: justify;
		}
		
		.panelMain .panel-body {
			padding: 0px
		}
		
		.mainHeading,
		.section .section-body {
			padding: 15px!important;
		}
		
		.section .section-header {
			border-top: 1px solid #ddd;
			background-color: #ddd;
		}
		.ngdialog-open{
			height: auto !important;
		}
		.km-value {
			background-color: #f9f9f9;
			border: 1px solid #ddd;
		}
		.national-targets h2, .national-targets h3{
			border-bottom: 1px solid #ddd;
			margin-top: 5px;
		}
		.viewForm legend{
			background-color: #fff;
			margin-top: 5px;
			padding-top: 10px;
			margin-bottom: 10px;
			font-size: 14px;
			font-weight: bold;
		}
		#section3 .viewForm .col-md-12{
			padding-left: 0px;
		}
		.viewForm label{
			font-weight: 500!important;
			color: #666;
			font-size: 12px;
		}

		.blockRegion {
			position: absolute;
			/*box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);*/
			width: 100%;
			height: 100%;
			margin: 1rem 0;
			padding: 1em;
			border-radius: .28571429rem;
			/*border: 1px solid rgba(34,36,38,.15);*/
		}
		.dimmer {
			border-radius: inherit!important;
		}
		.inverted.dimmer {
			background-color: rgba(0,0,0,.6);
		}
		.dimmed.dimmable>.animating.dimmer,
		.dimmed.dimmable>.visible.dimmer,
		.active.dimmer {
			display: block;
			opacity: 0.5;
		}
		.dimmer {
			display: none;
			position: relative;
			top: -16px!important;
			padding: 0;
			margin: 0;
			width: 100%;
			height: 100%;
			min-height: 40px;
			text-align: center;
			vertical-align: middle;
			background-color: rgba(0, 0, 0, .85);
			opacity: 0.5;
			line-height: 1;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
			-webkit-animation-duration: .5s;
			animation-duration: .5s;
			-webkit-transition: background-color .5s linear;
			transition: background-color .5s linear;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			will-change: opacity;
			z-index: 1000;
		}
		.loader{
			color: #fff;
			font-size: 20px;
			margin: auto;
		}
		.dimmer>.content>* {
			display: table-cell;
			vertical-align: middle;
			color: #fff;
		}
		.national-targets h3 {
			font-size: 24px;
		}
	</style>
	<div class="blockRegion" ng-if="isLoadingTargets||isLoadingAssessments">
		<div class="inverted dimmer active">
			<div class="center">
				<div class="medium loader"><i class="fa fa-spin fa-cog" /> loading </div>					
			</div>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="section-header">
			<h3>Secci&oacute;n I. Informaci&oacute;n sobre las metas que se procura alcanzar a nivel nacional <!-- <a href="#" class="btn closeall pull-right" scroll-to="section2"  offset="100"> <i class="fa fa-chevron-circle-down" /></a> -->
			</h3>
			
		</div>
		<div class="section-body">
			<div class="row" ng-show="document.government">
				<div class="col-xs-12">
					<label>Pa&iacute;s</label>
					<div class="km-value">
						{{document.government | term:locale}}
					</div>
				</div>
			</div>
			
			<div class="row" ng-show="document.nationalTargets">
				<div class="col-xs-12" style="margin-top:10px;">
					<label><strong>Metas nacionales</strong></label>
					<ul class="list-group ng-scope" ng-if="nationalTargets.length>0" style="margin-top: 10px;">
						<li class="list-group-item ng-scope national-targets" ng-repeat="item in nationalTargets" style="margin:10px 0px">
							<view-national-target ng-model="item" locale="locale" target="{{target}}"></view-national-target>							
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="section-header">
			<h3>Secci&oacute;n II. Medidas de implementaci&oacute;n adoptadas, evaluaci&oacute;n de su eficacia, obst&aacute;culos relacionados y necesidades cient&iacute;ficas y t&eacute;cnicas para alcanzar las metas nacionales <!-- <a href="#" class="btn closeall pull-right" scroll-to="section1"  offset="100"> <i class="fa fa-chevron-circle-up" /></a>
				<a href="#" class="btn closeall pull-right" scroll-to="section3"  offset="100"> <i class="fa fa-chevron-circle-down" /></a> -->
			</h3>
		</div>
		<div class="section-body">
			<div class="row " ng-repeat="implementationMeasure in document.implementationMeasures" style="margin-left:3px;margin-right:3px;">
				<div class="col-md-12 panel panel-default">
					<div class="panel-header clearfix">
						<h3>{{implementationMeasure.title|lstring:locale}}
						</h3>
					</div>
					<div class="panel-body">
						<div ng-show="implementationMeasure.description">
							<label>Medida adoptada para contribuir a la implementaci&oacute;n de la estrategia y plan de acci&oacute;n nacional en materia de biodiversidad de su pa&iacute;s.</label>
							<div class="km-value km-pre">{{implementationMeasure.description | lstring:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.aichiTarget">
							<label>Metas de Aichi para la diversidad biol&oacute;gica</label>
							<div class="km-value km-pre">{{implementationMeasure.aichiTarget | term:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.assessment">
							<label>Evaluaci&oacute;n de la eficacia de la medida de implementaci&oacute;n adoptada en cuanto al logro de los resultados:</label>
							<div class="km-value km-pre">{{implementationMeasure.assessment | term:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.assessmentDescription">
							<label>Herramientas o la metodolog&iacute;a utilizadas para obtener la evaluaci&oacute;n de eficacia antes indicada</label>
							<div class="km-value km-pre">{{implementationMeasure.assessmentDescription | lstring:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.relevantDocuments">
							<label>Sitios web, enlaces web y archivos pertinentes</label>
							<ul class="km-value">
								<li ng-repeat="item in implementationMeasure.relevantDocuments">
									<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <span ng-if="item.tag">({{item.tag}})</span>
								</li>
							</ul>
						</div>
						<div ng-show="implementationMeasure.otherRelevantInformation">
							<label>Otra informaci&oacute;n pertinente</label>
							<div class="km-value km-pre">{{implementationMeasure.otherRelevantInformation | lstring:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.otherRelevantDocuments">
							<label>Otra direcci&oacute;n de sitio web pertinente o documentos adjuntos</label>
							<ul class="km-value">
								<li ng-repeat="item in implementationMeasure.otherRelevantDocuments">
									<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <span ng-if="item.tag">({{item.tag}})</span>
								</li>
							</ul>
						</div>
						<div ng-show="implementationMeasure.obstacles">
							<label>Obst&aacute;culos y necesidades cient&iacute;ficas y t&eacute;cnicas relacionadas con la medida adoptada</label>
							<div class="km-value km-pre">{{implementationMeasure.obstacles | lstring:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.obstaclesRelevantDocuments">
							<label>Sitios web, enlaces web y archivos pertinentes</label>
							<ul class="km-value">
								<li ng-repeat="item in implementationMeasure.obstaclesRelevantDocuments">
									<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>	<span ng-if="item.tag">({{item.tag}})</span>
									
								</li>
							</ul>
						</div>
					</div>
					<br/>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="section-header">
			<h3>Secci&oacute;n III. Evaluaci&oacute;n de los progresos logrados para alcanzar cada meta nacional <!-- <a href="#" class="btn closeall pull-right" scroll-to="section2"  offset="100"> <i class="fa fa-chevron-circle-up" /></a>
					<a href="#" class="btn closeall pull-right" scroll-to="section4"  offset="100"> <i class="fa fa-chevron-circle-down" /></a></h3> -->
		</div>
		<div class="section-body">

				<div class="row " ng-repeat="progressAssessment in progressAssessments"  style="margin-left:3px;margin-right:3px;">
					
					<div class="col-md-12 panel panel-default">
						<div class="panel-header clearfix">
							<h3>Progress Assessment for <span ng-if="progressAssessment.aichiTarget">AICHI target {{progressAssessment.aichiTarget | term:locale}}</span> <span ng-if="progressAssessment.nationalTarget">national target {{getNationalTargetTitle(progressAssessment.nationalTarget.identifier)|lstring:locale}}</span>
							</h3>
						</div>
						<div class="panel-body">
							<view-national-assessment ng-model="progressAssessment" locale="locale" target="{{target}}"></view-national-assessment>								
						</div>
						<br/>
					</div>
				</div>
		</div>
	</div>
	<div class="section" id="section4">
		<div class="section-header">
			<h3>Secci&oacute;n IV. Descripci&oacute;n de la contribuci&oacute;n nacional al logro de cada una de las Metas de Aichi para la Diversidad Biol&oacute;gica mundiales <!-- <a href="#" class="btn closeall pull-right" scroll-to="section3"  offset="100"> <i class="fa fa-chevron-circle-up" /></a>
					<a href="#" class="btn closeall pull-right" scroll-to="section5"  offset="100"> <i class="fa fa-chevron-circle-down" /></a></h3> -->
		</div>
		<div class="section-body">
			<div class="panel panel-default" ng-repeat="aichiTarget in document.nationalContribution" ng-if="aichiTarget.identifier">
				<div class="panel-header clearfix">
					<h3>
						Metas de Aichi para la Diversidad Biol&oacute;gica {{aichiTarget | term:locale}}
					</h3>
				</div>
				<div class="panel-body" collapse="">
					<div ng-if="aichiTarget.identifier=='AICHI-TARGET-16' && (absNationalReport||absLinkedRecords)">
						<div ng-if="absNationalReport">
							<div>
								<label for="">Informe nacional provisional sobre la aplicaci&oacute;n del Protocolo de Nagoya</label><br/> <a translation-url target="_new" ng-href="{{absNationalReport.url_ss[0]}}">{{absNationalReport.uniqueIdentifier_s|uppercase}}</a> {{absNationalReport.title_t}}
							</div>
							<div ng-show="aichiTarget.nationalReportDescription">
								<label for="">Informaci&oacute;n adicional pertinente que no se haya incluido en el informe nacional provisional</label>
								<div class="km-value km-pre">{{aichiTarget.nationalReportDescription | lstring:locale}}</div>
							</div>							
						</div>
						<div ng-if="absLinkedRecords">

							<div ng-show="aichiTarget.linkedRecordsDescription">
								<label for="">Descripci&oacute;n de c&oacute;mo y en qu&eacute; medida su pa&iacute;s ha contribuido al logro de esta Meta de Aichi para la Diversidad Biol&oacute;gica</label>
								<div class="km-value km-pre">{{aichiTarget.linkedRecordsDescription | lstring:locale}}</div>
							</div>
							<label for="">Archivos del ABS Clearing-House</label>
							<table class="table table-hover">
								<tbody>
									<tr ng-repeat="item in absLinkedRecords">
										<td class="ng-binding">
											<a translation-url target="_new" ng-href="{{item.url_ss[0]}}">{{item.uniqueIdentifier_s|uppercase}}</a> {{item.title_t|lstring:locale}}</td>											
										</td>
									</tr>
								</tbody>
							</table>
								
						</div>
					</div>
					<div ng-if="aichiTarget.identifier=='AICHI-TARGET-20' && resourceMobilisationReport">
						<label for="">Marco de informaci&oacute;n financiera</label><br/> <a translation-url target="_new" ng-href="{{resourceMobilisationReport.url_ss[0]}}">{{resourceMobilisationReport.url_ss[0]}}</a> {{resourceMobilisationReport.title_t}}
					</div>
					<div ng-show="aichiTarget.description">
						<label>Description how and to what extent the country has contributed to the achievement of this Aichi Biodiversity Target</label>
						<div class="km-value km-pre">{{aichiTarget.description | lstring:locale}}</div>
					</div>
					<div ng-show="aichiTarget.achievementActivities">
						<label for="">Otras actividades que contribuyen al logro de la Meta de Aichi para la Diversidad Biol&oacute;gica a nivel mundial</label>
						<div class="km-value km-pre">{{aichiTarget.achievementActivities | lstring:locale}}</div>
					</div>
					
				</div>
			</div>
			<div class="panel panel-default" ng-if="document.nationalContribution.nationalContributionSDGs">
				<div class="panel-body">
						<label for="">
							Descripci&oacute;n de las contribuciones de su pa&iacute;s al logro de las Metas de Aichi para la Diversidad Biol&oacute;gica, describa de qu&eacute; manera y en qu&eacute; medida estas contribuciones apoyan la implementaci&oacute;n de la Agenda 2030 para el Desarrollo Sostenible y los Objetivos de Desarrollo Sostenible.
						</label>
						<div class="km-value km-pre">{{document.nationalContribution.nationalContributionSDGs | lstring:locale}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section5">
		<div class="section-header">
			<h3>Secci&oacute;n V. Descripci&oacute;n de la contribuci&oacute;n nacional al logro de las metas de la Estrategia Mundial para la Conservaci&oacute;n de las Especies Vegetales (completar esta secci&oacute;n es opcional) <!-- <a href="#" class="btn closeall pull-right" scroll-to="section4"  offset="100"> <i class="fa fa-chevron-circle-up" /></a>
					<a href="#" class="btn closeall pull-right" scroll-to="section6"  offset="100"> <i class="fa fa-chevron-circle-down" /></a></h3> -->
		</div>
		<div class="section-body">
					<div class="row">
						<div class="col-md-12">	
							<div class="panel panel-default">						
								<div class="panel-body">
									<div ng-show="document.gspcNationalContribution.hasGSPCTargets">
										<label></label>
										<div class="km-value km-pre"><strong>{{document.government | term:locale}} has national targets related to the GSPC Targets</strong></div>
									</div>
									<div ng-show="!document.gspcNationalContribution.hasGSPCTargets">
										<label></label>
										<div class="km-value km-pre"><strong>{{document.government | term:locale}} does not have national targets related to the GSPC Targets</strong></div>
									</div>
									<div ng-show="document.gspcNationalContribution.gspcTargetDescription">
										<label>Detalles sobre las metas espec&iacute;ficas</label>
										<div class="km-value km-pre">{{document.gspcNationalContribution.gspcTargetDescription | lstring:locale}}</div>
									</div>
									<div ng-show="document.gspcNationalContribution.plantConservationNetwork">
										<label>Informaci&oacute;n sobre las redes activas para la conservaci&oacute;n de las plantas</label>
										<div class="km-value km-pre">{{document.gspcNationalContribution.plantConservationNetwork | lstring:locale}}</div>
									</div>
									<div ng-show="document.gspcNationalContribution.implementationMeasures">
										<label>Principales medidas adoptadas por su pa&iacute;s para implementar la Estrategia Mundial para la Conservaci&oacute;n de Especies Vegetales</label>
										<div class="km-value km-pre">{{document.gspcNationalContribution.implementationMeasures | lstring:locale}}</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default" ng-repeat="gspcTarget in document.gspcNationalContribution" ng-if="gspcTarget.identifier">
								<div class="panel-header clearfix">
									<h3>
										Metas EMCEV {{gspcTarget | term:locale}}
									</h3>
								</div>
								<div class="panel-body" collapse="">

									<div ng-show="gspcTarget.categoryProgress">
										<label>Categor&iacute;a de progresos logrados para alcanzar la meta de la Estrategia Mundial para la Conservaci&oacute;n de las Especies Vegetales a nivel nacional</label>
										<div class="km-value km-pre">{{gspcTarget.categoryProgress | term:locale}}</div>
									</div>
									<div ng-show="gspcTarget.progressDescription">
										<label>Explicaci&oacute;n sobre la categor&iacute;a de progreso hacia la meta de la Estrategia Mundial para la Conservaci&oacute;n de las Plantas a nivel nacional</label>
										<div class="km-value km-pre">{{gspcTarget.progressDescription | lstring:locale}}</div>
									</div>
									<div ng-show="gspcTarget.progressDescription">
										<label>Describa de qu&eacute; manera y en qu&eacute; medida su pa&iacute;s ha contribuido al logro de esta meta de la Estrategia Mundial para la Conservaci&oacute;n de las Especies Vegetales y sintetice la evidencia utilizada para sustentar esta descripci&oacute;n.</label>
										<div class="km-value km-pre">{{gspcTarget.description | lstring:locale}}</div>
									</div>
								</div>
							</div>
							<br/>
						</div>
					</div>
		</div>
	</div>
	<div class="section" id="section6">
		<div class="section-header">
			<h3>Secci&oacute;n VI. Descripci&oacute;n de la contribuci&oacute;n nacional al logro de las metas de la Estrategia Mundial para la Conservaci&oacute;n de las Especies Vegetales (completar esta secci&oacute;n es opcional) <!-- <a href="#" class="btn closeall pull-right" scroll-to="section5"  offset="100"> <i class="fa fa-chevron-circle-up" /></a>
					<a href="#" class="btn closeall pull-right" scroll-to="section7"  offset="100"> <i class="fa fa-chevron-circle-down" /></a></h3> -->
		</div>
		<div class="section-body">
			<div ng-show="document.iplcContribution">
				<div class="km-value km-pre">{{document.iplcContribution | lstring:locale}}</div>
			</div>
			<div ng-if="!document.iplcContribution">
				<div class="km-value km-pre">No information available</div>
			</div>
		</div>
	</div>
	<div class="section" id="section7">
		<div class="section-header">
			<h3>Secci&oacute;n VII. Perfiles de diversidad biol&oacute;gica del pa&iacute;s actualizados <!-- <a href="#" class="btn closeall pull-right" scroll-to="section6"  offset="100"> <i class="fa fa-chevron-circle-up" /></a></h3> -->
		</div>
		<div class="section-body">
			<div class="panel panel-default">
				<div class="panel-body" collapse="">
					<div ng-show="document.biodiversityCountryProfile.statusAndTrends">
						<label>Datos de diversidad biol&oacute;gica Estado y tendencias de la diversidad biol&oacute;gica, incluidos beneficios derivados de la diversidad biol&oacute;gica y los servicios y funciones de los ecosistemas:</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.statusAndTrends | lstring:locale}}</div>
					</div>
					<div ng-show="document.biodiversityCountryProfile.mainDriversofChange">
						<label>Principales presiones e impulsores de cambio de la diversidad biol&oacute;gica (directos e indirectos):</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.mainDriversofChange | lstring:locale}}</div>
					</div>
					<div ng-show="document.biodiversityCountryProfile.nbsapImplementation">
						<label>Aplicaci&oacute;n de la EPANB</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.nbsapImplementation | lstring:locale}}</div>
					</div>
					<div ng-show="document.biodiversityCountryProfile.strategicPlanActions">
						<label>Medidas generales adoptadas para contribuir a la aplicaci&oacute;n del Plan Estrat&eacute;gico para la Diversidad Biol&oacute;gica 2011-2020</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.strategicPlanActions | lstring:locale}}</div>
					</div>
					<div ng-show="document.biodiversityCountryProfile.supportMechanisms">
						<label>Mecanismos de apoyo para la aplicaci&oacute;n nacional (legislaci&oacute;n, financiaci&oacute;n, creaci&oacute;n de capacidad, coordinaci&oacute;n, incorporaci&oacute;n, etc.)</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.supportMechanisms | lstring:locale}}</div>
					</div>
					<div ng-show="document.biodiversityCountryProfile.monitoringReviewingMechanisms">
						<label>Mecanismos de seguimiento y examen de la aplicaci&oacute;n:</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.monitoringReviewingMechanisms | lstring:locale}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
