<div class="container" id="submit">

    <h1><i class="fa fa-search"></i> Search the CHM</h1>
    <h2 style="margin-bottom:10px;" class="color-grey">The CHM offers multiple ways to find information. Use the search that best corresponds to your specific needs.</h2>
       
    <hr style=" position: absolute; width: 100%; left: 0;"/><br><div class="row">

            <div class="col-md-4">
                <div class="box bg-litegrey  md-whiteframe-z1">
                    <h4 style="padding-top:0;margin-top:0;" ><i class="fa fa-search"></i> Search the CHM</h3>
                    <p>This search will provide you the most general way to search through all information contained in the CHM.</p><a translation-url class="btn btn-primary" href="/database" role="button bg-white">Sélectionner »</a></div>
            </div>

            <div class="col-md-4" ng-hide="false">
                <div class="box bg-litegrey md-whiteframe-z1">
                    <h4 style="padding-top:0;margin-top:0;" ><i class="fa fa-search"></i> Rapports nationaux</h3>
                    <p>A search tool to find nationally submitted reports for National Reports, NBSAPs, Assessments, Indicators, Targets and Resource Mobilization.</p><a translation-url class="btn btn-primary" href="/search/reporting-map?filter=all" role="button bg-white">Sélectionner »</a></div>
            </div>

            <div class="col-md-4">
                <div class="box bg-litegrey md-whiteframe-z1">
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-search"></i> ABS Information</h4>
                  <p>The Access and Benefit-sharing Clearing-House (ABS-CH) handles information on access and benefit-sharing established by Article 14 of the Nagoya Protocol.</p><a translation-url class="btn btn-warning" href="https://absch.cbd.int/search" role="button bg-white">Search the ABSCH »</a></div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-4">
                <div class="box bg-litegrey md-whiteframe-z1">
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-search"></i> BCH Information</h4>
                  <p>The Biosafety Clearing-House (BCH) is a mechanism set up by the Cartagena Protocol on Biosafety to facilitate the exchange of information on Living Modified Organisms (LMOs) and assist the Parties to better comply with their obligations under the Protocol.</p><a translation-url class="btn btn-warning" href="http://bch.cbd.int/database/" role="button bg-white">Go to the BCH »</a></div>
            </div>


            <div class="col-md-4" ng-hide="true"><!-- TEMPORARILY REMOVED FOR GO LIVE --><div class="box bg-litegrey md-whiteframe-z1">
                    <h4 style="padding-top:0;margin-top:0;" ><i class="fa fa-search"></i> Online Reporting</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p><a translation-url class="btn btn-primary" href="/search/online-reporting" role="button bg-white">Sélectionner »</a></div>
            </div>

            <div class="col-md-4" ng-hide="true"><!-- TEMPORARILY REMOVED FOR GO LIVE --><div class="box bg-litegrey disabled md-whiteframe-z1">
                    <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-search"></i> Financial Resource Mobilization Reporting Framework</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p><span class="btn btn-default " href="/search/financial_reporting" role="button bg-white">Sélectionner »</span></div>
            </div>





            <div class="col-md-4" ng-hide="true"><!-- TEMPORARILY REMOVED FOR GO LIVE --><div class="box bg-litegrey disabled md-whiteframe-z1">
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-search"></i> Virtual Library Records</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p><span class="btn btn-default" href="/search/virtual_library/" role="button bg-white">Sélectionner »</span></div>
            </div>

            <div class="col-md-4"><!-- TEMPORARILY MOVED FOR GO LIVE --><div class="box bg-litegrey md-whiteframe-z1">
                  <h4 style="padding-top:0;margin-top:0;"><i class="fa fa-search"></i> Ecologically or Biologically Significant Marine Areas (EBSA)</h4>
                  <p>The EBSAs are special areas in the ocean that serve important purposes, in one way or another, to support the healthy functioning of oceans and the many services that it provides.</p><a translation-url class="btn btn-warning" href="https://www.cbd.int/ebsa/" role="button bg-white">Go to the EBSA Portal »</a></div>
            </div>

            <div class="clearfix"></div>



            <div class="col-md-4">
                <div class="box bg-litegrey disabled md-whiteframe-z1" ng-hide="true"><!-- TEMPORARILY REMOVED FOR GO LIVE --><h4 style="padding-top:0;margin-top:0;"><i class="fa fa-search"></i> Biodiversity Related Organizations</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p><span class="btn btn-default" href="/search/organizations/" role="button bg-white">Sélectionner »</span></div>
            </div>

            <div class="col-md-4">
                <div class="box bg-litegrey disabled md-whiteframe-z1" ng-hide="true"><!-- TEMPORARILY REMOVED FOR GO LIVE --><h4 style="padding-top:0;margin-top:0;"><i class="fa fa-search"></i> Études de cas</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p><span class="btn btn-default" href="/search/case_studies/" role="button bg-white">Sélectionner »</span></div>
            </div>




            <div class="clearfix"></div>



            <div class="col-md-4">
                <div class="box bg-litegrey disabled md-whiteframe-z1" ng-hide="true"><!-- TEMPORARILY REMOVED FOR GO LIVE --><h4 style="padding-top:0;margin-top:0;"><i class="fa fa-search"></i> Plan stratégique pour les indicateurs</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p><span class="btn btn-default" href="/search/strategic_plan_indicators" role="button bg-white">Sélectionner »</a></div>
            </div>

            <div class="col-md-4">
                <div class="box bg-litegrey disabled md-whiteframe-z1" ng-hide="true"><!-- TEMPORARILY REMOVED FOR GO LIVE --><h4 style="padding-top:0;margin-top:0;"><i class="fa fa-search"></i> Objectifs d'Aichi pour la biodiversité</h4>
                  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p><span class="btn btn-default" href="/search/aichi_targets/" role="button bg-white">Sélectionner »</span></div>
            </div>

        </div>
    </div>

