<div >
	<style>
		.panel-header,
		.section .section-header {
			border-bottom: 1px solid #ddd;
			padding-left: 10px;
		}
		
		.help-block {
			text-align: justify;
		}
		
		.panelMain .panel-body {
			padding: 0px
		}
		
		.mainHeading,
		.section .section-body,
		.panel-body {
			padding: 15px!important;
		}
	</style>
	<div class="panel panel-default bg-litegrey">
		<div class="panel-header bg-darkgrey">
			<h2 style="margin-top:0px;color:#fff">在线报告：国家目标<i ng-show="status=='loading'" class="fa fa-spinner fa-spin"></i></h2>
		</div>
		<div class="panel-body">
			<md-content style="padding:5px;overflow: visible;" class="bg-litegrey nationalTargetForm">		
			<div >
				<div class="alert alert-danger" ng-show="hasError()"><strong>出现了一个错误</strong><div>{{error}}</div>

					<div ng-if="container =='.ngdialog-theme-default'">
							<button class="btn btn-warning" ng-click="onPostClose()">关闭</button>
					</div>
				</div>

				<div class="row" style="padding:15px;" ng-show="status=='loading'">正在加载...</div>

				<div ng-hide="status=='hidden'||status=='loading'">

					<div class="row">
						<div class="col-xs-6"><span km-form-languages ng-model="document.header.languages"></span></div>
						<div class="col-xs-6 text-right"><span km-form-material-buttons status="status" document="getCleanDocument()" on-post-close="onPostClose()" 
							on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"  data-container="{{container}}"></span></div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<ul class="pagination">
								<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="tab='general'">&laquo;</a></li>
								<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'">一般信息</a></li>
								<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'">审核</a></li>
								<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="tab='review'">&raquo;</a></li>
							</ul>
						</div>
					</div>

					<form name="editForm">

						<div km-tab="general">
							<div class="panel panel-default panelMain">
								<div class="panel-header">
									<h3>一般信息</h3>
								</div>
								<div class="panel-body">
									<div class="row bottom-spacing">
										<div class="col-md-12">
											<div class="km-control-group" required name="government" caption="国家">
												<div km-select ng-disabled="!!defaultGovernment()" required name="government" ng-model="document.government" placeholder="请选择一个国家..." watch-items items="options.countries"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default panelMain">
								<div class="panel-header">
									<h3>关于在国家层面所追求的目标的信息</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" required name="isAichiTarget" caption="目标类型">

												<h4> <input type="radio" name="type" ng-model="document.isAichiTarget" ng-value="false"/><span ng-class="{'color-litegrey': document.isAichiTarget}">加上一个新的国家目标</span></h4>

												<h4> <input type="radio" name="type" ng-model="document.isAichiTarget" ng-value="true"/><span ng-class="{'color-litegrey': !document.isAichiTarget}">Use an <a translation-url href="https://www.cbd.int/sp/targets/rationale/" target="_new" >Aichi Biodiversity Target</a> as your National Target</span></h4>

											</div>
										</div>
									</div>
									<div ng-show="document.isAichiTarget">
										<legend>爱知生物多样性目标</legend>

										<div class="row bottom-spacing">
											<div class="col-md-12">
												<div class="km-control-group" required name="aichiTargets" caption="爱知生物多样性目标">
													<div km-select required name="aichiTargets" ng-model="selectedAichi.target" placeholder="请选择爱知生物多样性目标" watch-items items="options.aichiTargetsFiltered"></div>
												</div>
											</div>

											<div class="col-md-12">
												<div class="km-control-group" name="otherAichiTargets" caption="爱知生物多样性次目标">
													<div km-select name="otherAichiTargets" multiple ng-model="document.otherAichiTargets" placeholder="请选择爱知生物多样性次目标" watch-items items="options.aichiSubTargets"></div>
												</div>
											</div>
										</div>
									</div>

									<div ng-show="!document.isAichiTarget">
										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="title" caption="国家目标" data-container=".nationalTargetForm" data-content="请用联合国六种正式语文中的任意一种输入表述贵国所述国家目标。请录入本项国家目标的完整措辞，如果本项指标设有号码，请一并输入。贵国各项国家目标相关信息应逐一填写至本栏以及本部分其余各栏。">
													<div km-textbox-ml required name="title" ng-model="document.title" locales="document.header.languages"></div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="km-control-group" required name="description" caption="国家目标的建立依据" data-container=".nationalTargetForm" data-content="请提供本项国家目标的理论依据。这其中可包括本项指标试图应对的国家挑战有哪些、本项目标何以与爱知生物多样性目标或2011-2020年生物多样性战略计划相关或者有关爱知生物多样性目标与本项国家目标之间存在差异的原因。各缔约方不妨注明本项国家目标是否与其他国际或区域进程，例如与生物多样性有关的公约、里约三公约或其他多边环境协定相关或相连。各缔约方还不妨就与本项目标相关的任何国家履约机制发表评论意见。此处输入的信息旨在说明本项目标的国家背景。贵国国家生物多样性战略和行动计划可能包含此处录入的部分信息。">
													<div km-textbox-ml required name="description" ng-model="document.description" rows="5" locales="document.header.languages" placeholder=""></div>
												</div>
											</div>
										</div>

										<div class="row bottom-spacing">
											<div class="col-md-11 ">
												<div class="help-block"></div>
												<div class="km-control-group" required name="jurisdiction" caption="适用级别（请详细说明本项目标适用的级别）：" data-container=".nationalTargetForm" data-content="请注明贵国目标所适用的行政级别。大多数国家会制定国家一级的目标。然而，一些国家可能会制定国家以下级别（即州、省或市）的目标。此外，一些国家可能已采用区域一级（即多国）的目标作为其国家目标。同时身为已加入该公约的某一区域一体化组织成员国的缔约方不应报告在该组织范围内商定的区域目标，除非其既已议定的国家目标与这些区域目标相同。">
													<div km-select name="jurisdiction" ng-model="document.jurisdiction" placeholder="选择适用的级别" watch-items items="options.jurisdictions"></div>
												</div>
											</div>
											<div class="col-md-12" ng-show="isJurisdictionSubNational()">
												<div class="help-block"></div>
												<div class="km-control-group" required name="jurisdictionInfo" caption="请标明该目标适用的地区">
													<div km-textbox-ml name="jurisdictionInfo" ng-model="document.jurisdictionInfo" locales="document.header.languages" placeholder=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default panelMain">
								<div class="panel-header" name="">
									<label for="relevantNationalTarget" style="width:0px;height:0px;display:inline"><span style="display:none">请回答国家目标和爱知目标之间的关联性这一部分中的至少一个问题</span></label>
									<h3>国家目标与爱知目标的相关性</h3>
								</div>
								<div class="panel-body">

									<div class="row bottom-spacing">
										<div class="col-md-12">

											<div class="help-block">国家目标与爱知生物多样性目标之间的关联 （注：如果贵国把爱知生物多样性目标作为国家目标来报告，无需输入这样信息。）</div>

											<div class="km-control-group" name="aichiTargets" caption="主要的相关爱知生物多样性目标（请选择本项国家目标与之完全或部分相关的一项或多项爱知生物多样性目标。缔约方可以选择整项目标或目标某一部分）" data-container=".nationalTargetForm" data-content="如适用，请指明贵国本项国家目标与之最为直接相关的爱知生物多样性目标。考虑到贵国本项国家目标的拟定，它可能会与多项爱知生物多样性目标或其中部分内容直接相关。一些缔约方可能已经在其第五次国家报告中和（或）在其国家生物多样性战略和行动计划中进行这类关联连接。">
												<div km-select name="aichiTargets" multiple ng-model="document.aichiTargets" placeholder="请选择主要爱知生物多样性目标" watch-items items="options.aichiTargets" ng-disabled="isTypeAichiTarget()" list="false"></div>
											</div>
										</div>

										<div class="col-md-12">
											<div class="km-control-group" name="otherAichiTargets" caption="其他相关爱知生物多样性目标（请选择本项国家目标与之间接相关的一项或多项爱知生物多样性目标）。" data-container=".nationalTargetForm" data-content="如适用，请指明贵国本项国家目标与之间接或部分相关的爱知生物多样性目标。鉴于爱知生物多样性目标及其所涉问题覆盖面广，贵国本项国家目标可能会与一项或几项爱知生物多样性目标间接相关。一些缔约方可能已经在其第五次国家报告中和（或）在其国家生物多样性战略和行动计划中进行这类关联连接。">
												<div km-select name="otherAichiTargets" multiple ng-model="document.otherAichiTargets" placeholder="请选择其他相关的爱知生物多样性目标" watch-items items="options.aichiTargets" ng-disabled="isTypeAichiTarget()"></div>
											</div>
										</div>							
										
										<div class="col-md-12" ng-hide="document.aichiTargets && document.aichiTargets.length>0 || document.otherAichiTargets && document.otherAichiTargets.length>0">
											<div class="checkbox">
												<label>
													<input type="checkbox"  ng-model="document.noOtherAichiTargets"/>国家目标没有对应的爱知生物多样性目标或者与《生物多样性战略计划》的其他部分相关 <span info-bar data-container=".nationalTargetForm" data-content="如果本项国家目标与任何一项爱知生物多样性目标都不相关，请提供信息说明本项目标何以与2011-2020年生物多样性战略计划或与在《生物多样性公约》范围内讨论的其他问题相关联。例如，本项国家目标可能会与战略计划的愿景或使命或者与其某一项战略目标相关联。又抑或是可能与《公约》某一个目标或与其某一项工作方案相关联。"></span></label>
											</div>
											<div ng-if="document.noOtherAichiTargets" class="km-control-group" name="noOtherAichiTargetsDescription" caption="请解释">
											
												<div km-textbox-ml name="noOtherAichiTargetsDescription" ng-model="document.noOtherAichiTargetsDescription" rows="3" locales="document.header.languages" placeholder=""></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default panelMain">
								<div class="panel-header">
									<h3>相关文件和信息</h3>
								</div>
								<div class="panel-body">
									<div class="help-block">如果可能，请附上含有和找到该目标的相关文件。</div>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="relevantInformation" caption="其他相关信息（请在本栏内提供任何其他相关信息，例如制定和通过国家目标的过程、参与其中的利益攸关方或已经本项国家目标纳入其中的战略和计划。）" data-container=".nationalTargetForm" data-content="请提供与本项国家指标有关但未在本模板前面诸栏中注明的任何其他相关信息。">
												<div km-textbox-ml name="relevantInformation" rows="6" ng-model="document.relevantInformation" locales="document.header.languages"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="relevantDocuments" caption="相关网站、网页链接和文件（请在本栏中注明可供进一步了解该目标相关信息的任何相关网站、网页链接或文件）。" data-container=".nationalTargetForm" data-content="请酌情包括可供进一步了解本项国家目标相关信息的任何相关网站、网页链接或文件（无论其使用何种语文）。">
												<div km-link name="relevantDocuments" ng-model="document.relevantDocuments" identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default panelMain">
								<div class="panel-header">
									<h3>备注</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="notes"><span class="help-block">The field &ldquo;Notes&rdquo; is for personal reference and can be seen only when the record is being edited.</span><div km-notes name="notes" ng-model="document.notes"></div>
											</div>
										</div>
									</div>
								</div>
							</div>



						</div><!--end addtional info tab--></form>
					<div km-tab="review">

						<div km-document-validation ng-model="validationReport" data-container="{{container}}"></div>

						<div class="btn-group" ng-show="document.header.languages.length>1">
							<input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
						</div>

						<view-national-target ng-model="document" locale="review.locale"></view-national-target>
					</div>




					<div class="row" style="padding-bottom:30px;">
						<div class="col-sm-9 col-xs-12">
							<ul class="pagination">
								<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="tab='general'">&laquo;</a></li>
								<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'">一般信息</a></li>
								<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'">审核</a></li>
								<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="tab='review'">&raquo;</a></li>
							</ul>
						</div>


						<div class="col-xs-12 text-right">
							<div class=""><span km-form-material-buttons status="status" document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)"
												on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"  data-container="{{container}}"></span></div>
						</div>
					</div>



				</div>
			</div>
			</md-content>
		</div>
	</div>
</div>
