<div id="sixth-national-report-edit">
	<div id="wrap1">
		<div class="panel panel-default bg-litegrey">
			<div class="ngdialog-overlay" ng-if="isDialogLoading" style="z-index: 100">
				<div style="margin-left: 50%;"><i class="fa fa-spin fa-spinner fa-5x" /></div>
			</div>
			<div class="panel-header bg-darkgrey">
				<h2 style="margin-top:0px;color:#fff">第六次国家报告</h2>
			</div>
			<div class="panel-body">

				<div class="col-md-12" style="padding:0px" >
					
					<div class="row" style="padding:15px;font-size: 3em" ng-show="status=='loading'"><i ng-show="status=='loading'" class="fa fa-spinner fa-spin"></i>正在准备显示第六次国家报告</div>


					<div class="alert alert-danger" ng-show="hasError()" id="errorSection"><strong>出现了一个错误</strong><div>{{error}}</div>
					</div><!-- ng-hide="status=='hidden'||status=='loading'"ng-if="status!='hidden' && status!='loading'" --><div  ng-show="status!='hidden' && status!='loading'">
						<div class="row">
							<div class="col-xs-12"><span class="pull-right"><strong>第六次国家报告用户手册</strong><a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-en.pdf" target="_blank">英语</a> | <a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-fr.pdf" target="_blank">法国</a> | <a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-es.pdf" target="_blank">西班牙语</a> | <a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-ru.pdf" target="_blank">俄语</a> | <a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-zh.pdf" target="_blank">中文</a> | <a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-ar.pdf" target="_blank">阿拉伯</a></span></div>
						</div>
						<header >

							<div id="wrap">
								<div style="display:none;visibility:hidden;height:123px"></div>								
								<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
									<div class="container container-custom">
										<div class="collapse navbar-collapse small-screen">

											<div class="row">
												<div class="col-xs-12" >
													<ul  class="pagination"  >
														<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="switchTab('prev')">&laquo;</a></li>
														<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'">国家目标</a></li>
														<li ng-class="{ active  : tab=='implementation' }"><a translation-url href="" ng-click="tab='implementation'">实施</a></li>
														<li ng-class="{ active  : tab=='progress' }"><a translation-url href="" ng-click="tab='progress'">进展评估</a></li>
														<li ng-class="{ active  : tab=='nationalContribution' }"><a translation-url href="" ng-click="tab='nationalContribution'">国家对实现爱知目标的贡献</a></li>
														<li ng-class="{ active  : tab=='gspcContribution' }"><a translation-url href="" ng-click="tab='gspcContribution'">为实施全球植物保护战略所做的贡献</a></li>
														<li ng-class="{ active  : tab=='iplcContribution' }"><a translation-url href="" ng-click="tab='iplcContribution'">地方和土著社区贡献</a></li>
														<li ng-class="{ active  : tab=='countryProfile' }"><a translation-url href="" ng-click="tab='countryProfile'">国家档案</a></li>
														<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'">审核</a></li>
														<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="switchTab('next')">&raquo;</a></li>
													</ul>
													<div  km-document-validation ng-model="warningsReport" ng-if="(document.nationalContribution && document.nationalContribution.aichiTarget16.nationalReport
															&& !document.nationalContribution.aichiTarget16.nationalReportDescription)
															&& warningsReport && warningsReport.warnings"></div>

												</div>
												<div class="col-xs-6" >

													<div style="display:inline;text-transform: uppercase;font-weight: 500;font-size:12px;">更换网页语言</div>
													<locale-header style="display:inline;position: inherit;" class="locale-header btn-thin" id="MyLocale"></locale-header>|<div style="display:inline;text-transform: uppercase;font-weight: 500;font-size:12px;">用其它语言提交</div><span style="display:inline;" km-form-languages ng-model="document.header.languages" class="btn-thin"></span></div>
												<div class="col-xs-6 text-right"><span km-form-material-buttons status="status" document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
													    on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)"
														on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"
														on-pre-save-draft-version="onPreSaveDraftVersion()"></span></div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</header>
						<form   name="editForm" style="margin-top:10px">

							<div   id="generalTab"  km-tab="general">

								<div class="panel panel-default panelMain" style="min-height:500px">
									<div class="panel-header">
										<h3>关于在国家层面所追求的目标的信息</h3>
									</div>
									<div class="panel-body" ng-if="tab=='general'">
										<div class="row  mainHeading">
											<div class="col-md-12"><span class="help-block">本模板应予复制，以供逐一填写贵国各项国家目标相关信息在报告模板本部分填写的国家目标将和本报告的其他部分联系在一起。如果贵国尚未通过任何与2011-2020生物多样性战略计划有关的国家生物多样性目标，请在第一个方框标明，并转至第二部分。 <a translation-url info-bar data-content="报告的第一部分要求提供关于各国依照2011-2020年生物多样性战略计划（第X/2号决定第3(b)段）所通过的每一项国家目标的信息。如果贵国已经制定和（或）通过国家指标或者与2011-2020年生物多样性战略计划有关的同等承诺，请在下方模板中加以说明。"
													    data-title="CHM幫助：第六次国家报告"></a></span></div>
										</div>
										<div class="section">
											<div class="section-header">
												<h3>一般信息</h3>
											</div>
											<div class="section-body">
												<div class="row" >

													<div class="col-md-12">
														<div class="km-control-group" name="government" required caption="国家">															
															<div   km-select ng-if="!user.government" required name="government" single ng-model="document.government" placeholder="请选择一个国家..."
																items="options.countries"></div><span class="btn btn-info" ng-if="user.government" ng-bind="document.government|term:locale"></span></div>
													</div>
												</div>
												<div class="row" ng-if="document.government">
													<div class="col-md-12">
														<div class="km-control-group" name="targetPursued">
															<input type="radio" name="targetPursued" ng-model="document.targetPursued" group="targetPursued" ng-value="true" /> 我国业已根据2011-2020年生物多样性战略计划和爱知生物多样性目标通过了国家生物多样性目标或同等承诺。 <a translation-url info-bar data-content="如果贵国业已为实现各项爱知生物多样性目标或2011-2020年国家生物多样性战略计划其他部分通过了国家生物多样性目标或同等承诺，请勾选此框。"
															    data-title="CHM幫助：第六次国家报告"></a> <br/> <br/><input type="radio" name="targetPursued" ng-model="document.targetPursued" group="targetPursued" ng-value="false" /> 我国尚未通过国家生物多样性目标，现正参照爱知生物多样性目标来报告进展情况。（移至第二部分在第三部分，应将爱知生物多样性目标作为国家目标，用于本报告之目的，并应评估国家范围内这些目标的落实进展。） <a translation-url info-bar data-content="如果贵国（尚）未通过国家生物多样性目标，请勾选此框。在第二部分中，贵国须按照要求将本国的履约措施与爱知生物多样性目标挂钩。在第三部分中，贵国须按照要求评估爱知生物多样性目标实施进展情况。"
															    data-title="CHM幫助：第六次国家报告"><i class="fa fa-info-circle fa-2x"></i></a> <br/> <br/><input type="radio" name="targetPursued" 
															ng-model="document.notReportingOnNationalTargets" group="targetPursued" 
															ng-value="true" ng-change="updateNotReportingOnNationalTargets(document.notReportingOnNationalTargets)" />我國已採納國家生物多樣性目標，但選擇使用愛知生物多樣性目標報告進展情況，以供參考。 <a translation-url info-bar data-content="如果貴國已採用國家生物多樣性目標但希望使用愛知生物多樣性目標進行報告，請選擇此選項。選擇此選項後，將出現一個文本框，您可以在其中提供您選擇的說明。"
															    data-title="CHM幫助：第六次国家报告"><i class="fa fa-info-circle fa-2x"></i></a><div class="row" ng-if="document.notReportingOnNationalTargets">
																<div class="col-md-12">
																	<div class="km-control-group" name="notReportingOnNationalTargetsReason" 
																	caption="请提供你的国家为什么采用爱知生物多样性目标报告，而不是国家目标来报告的信息。">
																		<div km-textbox-ml name="notReportingOnNationalTargetsReason" ng-model="document.notReportingOnNationalTargetsReason" locales="document.header.languages"
																			rows="3"></div>
																	</div>
																</div>
															</div>
															
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div ng-show="document.targetPursued">
											<div class="section section-default">
												<div class="section-header" style="border-bottom: 1px solid #ddd">
													<h3>国家目标</h3>
												</div>
												<div class="section-body" id="sortingSection">
													<div class="row">
														<div class="col-xs-12">

															<ul class="list-group ng-scope" style="margin-top: 10px;">
																<li class="list-group-item ng-scope" style="min-height: 50px;">
																	<div class="pull-right btn-group">
																		<button ng-disabled="loadingNationalTargets||isDialogOpen" class="btn btn-primary" ng-click="openDialog({},'directives/formats/forms/national-target-dialog','edit-national-target-dialog')">添加目标</button><a translation-url ng-disabled="loadingNationalTargets" class="btn btn-primary" ng-hre="#" ng-click="refreshNationaTargets()"> <i class="fa fa-spin fa-spinner" ng-if="loadingNationalTargets" />刷新</a></div>
																</li>
															</ul>
														</div>
														<div class="row">
															<div class="col-xs-12">
															<div drag-to-reorder="document.nationalTargets"><br/><br/> </br><div  ng-repeat="item in document.nationalTargets">
																	
																	<div class="col-xs-12 col-sm-12 col-md-12" dtr-draggable>

																		<div class="panel panel-default">
																			<div class="panel-header clearfix"><!-- <div class="row"> --> <!-- <div class="col-xs-11">							 --><h3>{{nationalTargets[item.identifier].title|lstring:locale}}<div class="pull-right implementation-measure-action-buttons btn-group" style="padding-right:10px"><a ng-href="#" class="btn" ng-click="movePosition(document.nationalTargets, $index, 'up', 'nationalTarget')"
																								data-toggle="tooltip" data-placement="top" title="向上移動一個圓角" ng-if="!$first"> <i class="fa fa-level-up" style="font-size:20px"/> </a> <a ng-href="#" class="btn " ng-click="movePosition(document.nationalTargets, $index, 'down', 'nationalTarget')"
																							data-toggle="tooltip" data-placement="top" title="向下移動一個圓角" ng-if="!$last"> <i class="fa fa-level-down" style="font-size:20px"/> </a></div>
																					</h3><!-- </div> --> <!-- <div class="col-xs-1">	
																						<table class="pull-right">
																							<tr>																				
																								<td>
																									<i class="fa fa-arrows"  style="font-size:20px;padding-top:5px;"/>																						
																								</td>
																							</tr>
																							<tr>
																								<td style="padding-left:5px">
																									<a info-bar data-content="Targets can be reorderd by click + dragging to new position" data-title="CHM Help: Sixth national report">
																										<i class="fa fa-info-circle fa-2x"></i>
																									</a>
																								</td>
																							</tr>
																						</table>
																					</div>			 --> <!-- </div> --></div>
																			<div class="panel-body"><br/><div class="btn-group-xs btn-status" 
																					ng-if="waitForWorkflow.nationalTarget.identifier != item.identifier || !waitForWorkflow.nationalTarget"><span class="label label-primary pull-right  bg-published"  style="margin-left:5px;"
																						ng-if="nationalTargets[item.identifier]._state_s=='public' || nationalTargets[item.identifier].publicRecord">Public</span> <span class="label label-warning pull-right  bg-draft" ng-if="nationalTargets[item.identifier]._state_s=='draft'">Draft</span> <span class="label label-warning pull-right  bg-request" ng-if="nationalTargets[item.identifier]._state_s=='workflow'">Waiting for approval</span></div>
																				<div class="btn-status" ng-if="waitForWorkflow.nationalTarget && waitForWorkflow.nationalTarget.identifier == item.identifier"><span class="label label-warning pull-right bg-request"><i class="fa fa-spin fa-spinner"></i > 正在处理...</span></div>
																				<ul>
																					<li ng-repeat="target in nationalTargets[item.identifier].aichiTargets track by $index" ng-if="!nationalTargets[item.identifier].isAichiTarget && nationalTargets[item.identifier].aichiTargets">{{target}}</li>
																					<li ng-repeat="target in nationalTargets[item.identifier].otherAichiTargets track by $index" ng-if="nationalTargets[item.identifier].otherAichiTargets">{{target}}</li>
																					
																				</ul>
																			</div>
																			<div class="panel-footer">
																				<div class="btn-group btn-group-xs" ng-if="waitForWorkflow.nationalTarget.identifier != item.identifier || !waitForWorkflow.nationalTarget"><a translation-url title="查看" ng-if="nationalTargets[item.identifier]._state_s == 'public'" target="_blank" class="btn btn-primary" ng-href="{{nationalTargets[item.identifier].url}}"><i class="fa fa-search"></i> view</a> <a translation-url ng-if="nationalTargets[item.identifier]._state_s=='workflow' " title="已锁定供编辑" target="_blank" class="btn btn-primary" ng-href="/management/requests/{{getWorkflowId(nationalTargets[item.identifier])}}/publishRecord"><i class="fa fa-lock"></i> view status</a><button ng-click="openDialog(nationalTargets[item.identifier],'directives/formats/forms/national-target-dialog','edit-national-target-dialog')" ng-if="nationalTargets[item.identifier]._state_s!='workflow'"
																						title="编辑" type="button" class="btn btn-primary"><i class="fa fa-edit"></i> 编辑</button>
																					<button ng-disabled="nationalTargets[item.identifier]._state_s != 'draft' && nationalTargets[item.identifier].assessments.length > 0" ng-hide="nationalTargets[item.identifier]._state_s=='workflow'" title="删除"
																						type="button" class="btn btn-primary" ng-click="delete(nationalTargets[item.identifier],'nationalTarget', $event)"><i class="fa fa-trash-o"></i> 删除</button>
																				</div>
																			</div>
																		</div><span class="clearfix"></span></div>
																</div>
															</div>
														</div>
													</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div    id="implementationTab"  km-tab="implementation">
								<div style="margin:0 50%" ng-show="loadingimplementationTab"><i class="fa fa-spinner fa-spin"></i>正在加载...</div>
							</div>
							<div  id="progressTab"   km-tab="progress">
								<div style="margin:0 50%" ng-show="loadingprogressTab"><i class="fa fa-spinner fa-spin"></i>正在加载...</div>
							</div>
							<div id="nationalContributionTab"  km-tab="nationalContribution">
								<div style="margin:0 50%" ng-show="loadingnationalContributionTab"><i class="fa fa-spinner fa-spin"></i>正在加载...</div>
							</div>
							<div  id="gspcContributionTab"  km-tab="gspcContribution">
								<div style="margin:0 50%" ng-show="loadinggspcContributionTab"><i class="fa fa-spinner fa-spin"></i>正在加载...</div>
							</div>

							<div id="iplcContributionTab" km-tab="iplcContribution">
								<div  style="margin:0 50%" ng-show="loadingiplcContributionTab"><i class="fa fa-spinner fa-spin"></i>正在加载...</div>
							</div>

							<div  id="countryProfileTab"  km-tab="countryProfile">
								<div style="margin:0 50%" ng-show="loadingcountryProfileTab"><i class="fa fa-spinner fa-spin"></i>正在加载...</div>
							</div>
						</form>

						<div id="reviewTab"  km-tab="review">

							<div km-document-validation ng-model="validationReport"></div>
							<div class="btn-group" ng-if="document.header.languages.length>1">
									<input type="button" class="btn" ng-class="{'btn-default' : $parent.review.locale!='*', 'btn-info' :$parent.review.locale=='*'}"
									ng-click="$parent.review.locale='*'" value="*" title="所有语言" />
									<input type="button" class="btn" ng-class="{'btn-default' : $parent.review.locale!=locale, 'btn-info' :$parent.review.locale==locale}"
										ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}"
										title="{{locale|languageLongName}}" />
								</div>
							<div class="btn-group btn-group-sm pull-right">
								<button href="#" title="打印记录" class="btn btn-default" ng-click="print()">打印 <i class="fa fa-spin fa-spinner" ng-if="printing" ></i> <i class="fa fa-print" aria-hidden="true" ng-if="!printing"></i></button>
							</div>
							<div style="margin:0 50%" ng-show="loadingReviewTab"><i  class="fa fa-spinner fa-spin"></i>正在加载...</div>
							<div id="reviewSchemaView">
								<view-national-report-6 ng-model="reviewDocument" locale="getLocale()" link-target="_blank" id="schemaPrintView"></view-national-report-6>
							</div>
						</div>


					</div>
					<div >
					
						<script type="text/ng-template" id="recordExistsTemplate.html" trados-translation="true">
							<h1>第六次国家报告</h1>
							<hr>
							<div class=" alert alert-danger">
								<div class="glyphicon glyphicon-exclamation-sign"></div>
								<div>每个国家只能有第六次国家的记录，贵国已经有了第六次国家报告记录，因此您将被引导到报告的记录{{alertSeconds}} 秒.</div>
							</div>
							<div class="ngdialog-buttons">
								<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="openExisting()">现在引导</button>
							</div>
						</script>
						
						<script type="text/ng-template" trados-translation="true" id="deleteRecordModal">              
					
							<div class="modal-header">
								<h4 class="modal-title" >确认更改为以下记录 <i ng-show="deletingRecord" class="fa fa-spinner fa-spin"></i></h4>
							</div>
							<div class="modal-body  bg-white" >
								<div ng-if="draftRecordToDelete" class="well" style="font-size:14px;">
									<div style="font-size:11px;font-weight:bold;text-transform:uppercase;color:#999;border-bottom:1px solid #ddd;margin-bottom:10px;">草案记录</div>
									<div class="row">     
										<div class="col-xs-2" class="color-litegrey">称谓：</div> 
										<div class="col-xs-10" style="font-weight:bold"> {{draftRecordToDelete.title|lstring:locale}}</div>
									</div>
									<div class="row"> 
										<div class="col-xs-2" class="color-litegrey">摘要</div> 
										<div class="col-xs-10" style="font-weight:bold" ><span ng-bind-html="draftRecordToDelete.summary|lstring:locale"></span></div>
									</div>
									<div class="row" style="margin-top:10px;"> 
										<div class="col-xs-12"> 
											<button ng-disabled="deletingRecord" type="button" class="btn btn-danger"  ng-click="deleteDraft(draftRecordToDelete)">删除草案</button></div>
									</div>
								</div>
		
								<div ng-if="publicRecordToDelete" class="well" style="font-size:14px;">
									<div style="font-size:11px;font-weight:bold;text-transform:uppercase;border-bottom:1px solid #ddd;margin-bottom:10px;" class="color-green">发布记录</div>
									
									<div class="row">     
										<div class="col-xs-2" class="color-litegrey">称谓：</div> 
										<div class="col-xs-10" style="font-weight:bold"> {{publicRecordToDelete.title|lstring:locale}}</div>
									</div>
									<div class="row"> 
										<div class="col-xs-2" class="color-litegrey">摘要</div> 
										<div class="col-xs-10" style="font-weight:bold" > <span ng-bind-html="publicRecordToDelete.summary|lstring:locale"></span></div>
									</div>
		
									<div class="row" style="margin-top:10px;"> 
										<div class="col-xs-12"><span class="label label-danger" ng-if="hasAssessment">删除国家目标之前，请删除此国家目标的进度评估。</span><button ng-if="!hasAssessment" ng-show="security" type="button" class="btn btn-danger" ng-disabled="deletingRecord"
											ng-click="deletePublic(publicRecordToDelete)" 
											data-toggle="tooltip" data-placement="top" title="注意： 所有待定草案都会被删除"><span ng-if="!security.canDelete">请求删除此记录</span> <span ng-if="security.canDelete">删除记录 </span></button> 
										</div>
									</div>
								</div>
		
							</div>
							<div class="modal-footer" >
								<button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
							</div>
						</script>

					</div>
					</div>

				</div>
			</div>
		</div>
	</div>
