<div>
    <div class="panel panel-default">
        <div class="panel-header">
            <h3>Partie III. &Eacute;valuation des progr&egrave;s accomplis dans la r&eacute;alisation de chaque objectif national</h3>
        </div>
        <div class="panel-body">
            <div class="row  bottom-spacing">
                <div class="col-md-12"><span class="help-block">En utilisant le mod&egrave;le ci-dessous, veuillez &eacute;valuer le niveau de progr&egrave;s accomplis dans la r&eacute;alisation de chaque objectif national de votre pays ou engagements semblables. Le tableau doit &ecirc;tre rempli pour chaque objectif national. Si votre pays n&rsquo;a pas fix&eacute; d&rsquo;objectifs nationaux, veuillez utiliser les Objectifs d&rsquo;Aichi pour la biodiversit&eacute;. <a translation-url info-bar data-content="Cette partie du sixi&egrave;me rapport national a pour but de recueillir des informations sur les progr&egrave;s accomplis dans la r&eacute;alisation des objectifs nationaux de votre pays. Le mod&egrave;le doit &ecirc;tre reproduit pour chacun des objectifs nationaux de votre pays Si votre pays n&rsquo;a pas &eacute;tabli d&rsquo;objectifs nationaux, &eacute;valuez les progr&egrave;s du pays dans la r&eacute;alisation des Objectifs d&rsquo;Aichi pour la biodiversit&eacute;."
                            data-title="CHM Aide: Sixi&egrave;me Rapport National"><i class="fa fa-info-circle fa-2x"></i></a></span><div class="col-md-12"><a translation-url href="#" class="btn openall pull-right" style="display:none" ng-click="openall('.progressAssessment')">ouvre tout <i class="fa  fa-arrow-circle-o-up" /></a> <a translation-url href="#" class="btn closeall pull-right" ng-click="closeall('.progressAssessment')">ferme tout <i class="fa  fa-arrow-circle-o-down" /> </a><button class="btn btn-primary pull-right" ng-click="refreshAssessment()" ng-disabled="loadingAssessments"><i class="fa fa-spin fa-spinner" ng-if="loadingAssessments" />Rafra&icirc;chir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default progressAssessment" ng-repeat="progressAssessment in document.progressAssessments track by $index">
        <div class="panel-header clearfix">
            <h3>&Eacute;valuation de progr&egrave;s pour <span ng-if="progressAssessment.nationalTarget">cible nationale : {{getNationalTargetTitle(progressAssessment.nationalTarget.identifier, locale)}}</span> <span ng-if="progressAssessment.aichiTarget">Cible de la biodiversit&eacute; d&apos;AICHI : {{::aichiTargets[progressAssessment.aichiTarget.identifier].title[locale]}}</span><div class="pull-right" style="padding-right:10px"><a translation-url ng-href="#" data-toggle="collapse" class="collapse-icon" data-target="#progressAssessment{{$index}}"></a></div>
            </h3>
        </div>
        <div class="panel-body collapse in" id="progressAssessment{{$index}}">
            <div class="row">
                <div class="col-md-12">
                    <div class="km-control-group" name="progressAssessmentAdequacy" caption="Évaluation actuelle de l'objectif national">
                        <div ng-if="progressAssessment.assessment">
                            <div class="row btn-status" style="margin-right:0.1%">
                                <div ng-if="waitForWorkflow.nationalAssessment.identifier != progressAssessment.assessment.identifier || !waitForWorkflow.nationalAssessment"><span class="label label-primary pull-right  bg-published" style="margin-left:5px;"
                                        ng-if="targetAssessments[progressAssessment.assessment.identifier]._state_s=='public' || targetAssessments[progressAssessment.assessment.identifier].publicRecord">Publique</span> <span class="label label-warning pull-right bg-draft" ng-if="targetAssessments[progressAssessment.assessment.identifier]._state_s=='draft'">Brouillon</span> <span class="label label-warning pull-right bg-request" ng-if="targetAssessments[progressAssessment.assessment.identifier]._state_s=='workflow'">en attente d&apos;approbation</span></div>
                                <div ng-if="waitForWorkflow.nationalAssessment && waitForWorkflow.nationalAssessment.identifier == progressAssessment.assessment.identifier"><span class="label label-warning pull-right bg-request"><i class="fa fa-spin fa-spinner"></i > En cours...</span></div>
                            </div><img ng-if="targetAssessments[progressAssessment.assessment.identifier].progress_s!='69C77387-2D3C-474C-BEA8-30F55D47AFBD'"
                                ng-src="/app/img/ratings/{{targetAssessments[progressAssessment.assessment.identifier].progress_s}}.png" class="pull-left"></img><div>
                                <div>
                                    <h3>{{targetAssessments[progressAssessment.assessment.identifier].title|lstring:locale}}</h3>
                                </div>
                                <div>{{targetAssessments[progressAssessment.assessment.identifier].description|lstring:locale}}</div>
                            </div>
                        </div>
                        <div ng-if="!progressAssessment.assessment" class="label label-info"><span ng-if="progressAssessment.nationalTarget">&Eacute;valuation manquante pour l&apos;objectif national.</span> <span ng-if="progressAssessment.aichiTarget">&Eacute;valuation manquante pour l&apos; Objectif d&rsquo;Aichi pour la biodiversit&eacute;</span></div>
                    </div>
                    <div class="km-control-group pull-right">
                        <div class="btn-group btn-group-xs" ng-if="waitForWorkflow.nationalAssessment.identifier != progressAssessment.assessment.identifier || !waitForWorkflow.nationalAssessment">
                            <button ng-if="!progressAssessment.assessment" target="_blank" class="btn btn-primary" ng-click="openDialog(progressAssessment,'directives/formats/forms/national-assessment-dialog','edit-national-assessment-dialog')"
                                ng-disabled="isDialogOpen"><i class="fa fa-plus"></i> Ajouter</button><a translation-url title="Vue" ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s == 'public'"
                                target="_blank" class="btn btn-primary" ng-href="{{progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier].url}}"><i class="fa fa-search"></i> vue</a> <a translation-url ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s=='workflow' "
                                title="Verrouill&eacute; pour l&rsquo;&eacute;dition" target="_blank" class="btn btn-primary" ng-href="/management/requests/{{getWorkflowId(progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier])}}/publishRecord"><i class="fa fa-lock"></i> Afficher le statut</a><button ng-click="openDialog(progressAssessment,'directives/formats/forms/national-assessment-dialog','edit-national-assessment-dialog')"
                                ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s!='workflow'"
                                title="Modifier" type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</button>
                            <button ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s!='workflow'"
                                title="Supprimer" type="button" class="btn btn-primary" ng-click="delete(targetAssessments[progressAssessment.assessment.identifier],'nationalAssessment', $event)"><i class="fa fa-trash-o"></i> Supprimer</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
