<span dir="rtl"><button ng-disabled="disabled" type="button" class="btn btn-primary" ng-click="shareDocument()">شارك</button>
    <button ng-disabled="disabled" type="button" class="btn btn-primary" ng-click="getPdf()">PDF</button>
    <style>
        /* .ngdialog-content {
                background: transparent !important;
            } */

        .ngdialog.ngdialog-theme-default .ngdialog-content {
            width: 60% !important;
        }

        .tab-pane .content {
            margin: 2%;
        }
    </style>
<script type="text/ng-template" id="shareDocumentTemplate.html" trados-translation="true">
    <h1 dir="rtl">{{title}}</h1><br/><div role="tabpanel" dir="rtl"><!-- Nav tabs --><ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a translation-url href="#email" aria-controls="email" role="tab" data-toggle="tab"><span class="sub-header">ارسل بالبريد الإلكترونى</span></a></li>
                <li role="presentation"><a translation-url href="#url" aria-controls="url" role="tab" data-toggle="tab"><span class="sub-header">أرسل عن طريق عنوان URL</span></a></li>
            </ul><!-- Tab panes --><div class="tab-content" style="background:#fff">
                <div role="tabpanel" class="tab-pane active" id="email">
                    <div class="row">
                        <div class="content">
                            <div>سنرسل للمستلمين رسالة بريد إلكتروني تحتوي على الرابط لعرض مسودة المستند هذه.</div>
                            <hr/>البريد الإلكتروني <br/><input type="text" placeholder="أدخل البريد الإلكتروني" class="form-control" ng-model="document.sharedWith.emails" />
                            <div><span style="font-size: smaller;color: #777575;">افصل بين رسائل البريد الإلكتروني المتعددة بفواصل. يجب على هؤلاء المستخدمين تسجيل الدخول إلى CBD باستخدام رسائل البريد الإلكتروني هذه قبل عرض مسودة السجل</span></div>
                            <div><span ng-if="status=='creatingLink'"> <i class="fa fa-spin fa-spinner" /> محدث </span><button type="button" class="btn btn-primary pull-right" ng-click="shareEmail()" ng-disabled="status=='creatingLink'">إرسال</button>
                            </div></br></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="url">
                    <div class="row">
                        <div class="content">
                            <label>يمكن لأي شخص لديه الرابط الاطلاع على مسودة المستند هذه </label>
                            <div style="margin:auto"><a ng-href="#" ng-click="self.createLink()" class="btn btn-primary" ng-if="status!='creatingLink' && !document.sharedWith.link">إنشاء رابط</a> <i class="fa fa-spin fa-spinner" ng-if="status=='creatingLink'" /></div>
                            <div ng-if="document.sharedWith.link && status!='creatingLink'">
                                <div class="btn-group">
                                    <div class="input-group" style="max-width:95%">
                                        <input type="text" id="shareUrl" class="highlight form-control" value="{{::getUrl(document.urlHash)}}" disabled readonly/><span style="cursor:pointer" class="input-group-addon" id="basic-addon2" ng-click="copyUrl()"> <i class="fa fa-copy" /> نسخ</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>



    </script>
<script type="text/ng-template" id="documentPdfTemplate.html" trados-translation="true">
    <h1 dir="rtl">{{title}}</h1><br/><div role="tabpanel" dir="rtl">
            <div class="tab-content" style="background:#fff">
                <div role="tabpanel" class="tab-pane active" id="email">
                    <div class="row">
                        <div class="content">
                            <div><a ng-href="{{pdfUrl}}" target="_blank" class="btn btn-primary" ng-if="status!='generatingPDF' && pdfUrl" dir="rtl">فتح PDF</a></div><span ng-if="status=='generatingPDF'"><div>الرجاء الانتظار حتى يتم إنشاء ملف pdf</div><i class="fa fa-spin fa-spinner" /> قيد التنفيذ...</span>  
                            </br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
