<span style="text-align:left" ng-hide="status == 'loading'"  dir="rtl"><style>
		.btn-space{
			margin-right:5px;
		}
	</style><span ng-hide="errors || status=='loading buttons'"><div style="display:inline" class="pull-left"><span ng-show="lastSaved" style="text-transform:uppercase;font-size:12px;font-weight: 500;padding-right:3px;"><span class="bg-yellow label" style="font-size:12px;"><i class="color-grey glyphicon glyphicon-time"></i><span class="color-blue" style="padding:3px;">{{lastSaved}}</span></span>&nbsp; منذ آخر حفظe</span></div>
			<document-sharing ng-disabled="disabled" ng-if="documentShare.workingDocumentID" restriction-field="workingDocumentID" restriction-field-value="documentShare.workingDocumentID" 
				identifier="documentShare.identifier" title="{{documentShare.title|lstring:locale}}" get-locales="getLocales()"></document-sharing>
			<button ng-disabled="disabled" type="button" class="btn btn-warning" ng-click="new_close($event)">إغلاق</button>
			<button ng-disabled="disabled" ng-hide="hideSave" type="button" class="btn btn-default bg-draft" ng-click="new_saveDraft($event)" > حفظ المسودة <i ng-show="status=='saving'" class="fa fa-spinner fa-spin"></i></button>
			<button ng-disabled="disabled" ng-show="security.canSave" type="button" class="btn btn-success" ng-click="new_publish($event)" > نشر <i ng-show="status=='publishing'" class="fa fa-spinner fa-spin"></i></button>
			<button ng-disabled="disabled" ng-show="!security.canSave" type="button" class="btn btn-danger" ng-click="new_publishRequest($event)" > إرسال طلب النشر <i ng-show="status=='publishing'" class="fa fa-spinner fa-spin"></i></button></span> </span>
