<div style="margin-bottom:20px" dir="rtl">
	<div>
			<button type="button" class="btn btn-default" ng-click="addLink()" ng-show="isAllowLink()"><i class="fa fa-globe" dir="rtl"></i> إضافة رابط</button>
		<button type="button" class="btn btn-default" ng-click="addFile()" ng-show="isAllowFile()" ng-disabled="!identifier"><i class="fa fa-file-o"></i> إضافة ملف</button>

		<ul class="list-group" ng-if="links||links.length">
			<li class="list-group-item" ng-repeat="link in links">
				<table style="width:100%">
					<tr>
						<td><a translation-url target="_blank" ng-href="{{link.url}}">{{link.name||link.url}}</a> <span ng-show="link.tag">({{link.tag}})</span></td>
						<td style="white-space:nowrap;text-align:right;vertical-align:top">
							<button type="button" class="btn btn-default" ng-click="remove(link)"><i class="fa fa-trash-o"></i></button>
						</td>
					</tr>
				</table>
			</li>
		</ul>

	</div><!--Link Editor--><div id="editLink" class="modal fade" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>تعديل الرابط</h3>
				</div>
				<div class="modal-body"  style="max-height:400px;overflow-y:auto">
					<div class="alert alert-info">يرجى ذكر رابط موقع الويب (على سبيل المثال <a translation-url target="_blank" href="http://www.cbd.int">http://www.cbd.int</a>واسم موقع الويب (على سبيل المثال: &quot;اتفاقية التنوع البيولوجي&quot;).</div>
					<form name="linkForm">
						<fieldset>
							<div class="alert alert-warning" ng-show="linkForm.$error.url"><strong>تحذير!</strong> القيمة المحددة ليست رابط موقع ويب صالح<ul><li>تأكد بأن رابط موقع الويب يبداء ب  //:https  او //:http</li></ul>
							</div>
							<div class="control-group" ng-class="{error: linkForm.editor.url.$invalid}">
								<label class="control-label" ng-required="editor.visible" for="url">الرابط</label>
								<input class="form-control" type="url" style="width:98%" ng-model="editor.url" ng-required="editor.visible" placeholder="مثال: http://www.cbd.int">
							</div>

							<div class="control-group" ng-class="{error: linkForm.name.$invalid}">
								<label>الاسم</label>
								<input class="form-control" type="text" style="width:98%" ng-model="editor.name"  placeholder="example: موقع "اتفاقية التنوع البيولوجي"">
							</div>
						</fieldset>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="editor.close()">إلغاء</button>
					<button type="button" class="btn btn-primary" ng-click="linkForm.$invalid || editor.save()" ng-disabled="linkForm.$invalid" >حفظ</button>
				</div>
			</div>
		</div>
	</div><!--File Upload Editor--><div id="editFile" class="modal fade" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3>تحميل الملف...</h3>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" ng-show="editor.error!=null">
						<h4>حدث خطأ...</h4>{{editor.error}}</div>
					<div ng-show="editor.progress">
						<label>تحميل {{editor.name}} ({{editor.progress.size/1024 | number:1}} kB)</label>
						<div class="progress progress-striped {{editor.progress.style}}">
							<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"  style="width:{{editor.progress.percent}}%;"></div>
						</div>
					</div>
					<div id="uploadPlaceholder" style="display:none"></div>
					<div class="control-group" >
						<label>اسم الملف</label>
						<input class="form-control" type="text" style="width:98%" ng-model="editor.name" ng-disabled="true">
					</div><br/><div class="control-group" >
						<label>علامات</label>
						<input class="form-control" type="text" style="width:98%" ng-model="editor.tag"  placeholder="example: التنوع البيولوجي ، هدف ايشي">
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" ng-click="editor.close()">إلغاء</button>
					<button type="button" class="btn btn-primary" ng-click="editor.save()" ng-disabled="editor.progress">حفظ</button>
				</div>
			</div>
		</div>
	</div>
</div>
