<div class="container" dir="rtl">

	<div class="register-content card card-1-notrans">

		<top-menu></top-menu>

		<h3>User preferences <span class="helpinfoInline" dir="rtl"></h3>

		<div>Email notifications and predefined searches - Keep up to date when new records are published.</div>

		<hr style=" position: absolute; width: 100%; left: 0;" /><br></div>

	<div class="register-content-content">
		<user-alerts collection="subscriptions" collection-filter='{"isSystemAlert":false}' run-query="runFilter(filter)"></user-alerts>
	</div>



</div>