<div>

	<table class="table table-striped">
	  <tr>
		  <th colspan="2">Demander des informations et un statut</th>
	  </tr>
	  <tr>
	  	<td style="width:40%">Num&eacute;ro de demande</td>
	  	<td>{{workflow._id}}</td>
	  </tr>
	  <tr>
	  	<td>Num&eacute;ro d&apos;identification du dossier</td>
	  	<td><a translation-url    ng-show="documentInfo.documentID" ng-href="/database/record?documentID={{documentInfo.documentID}}">{{documentInfo.documentID}}</a> <span ng-hide="documentInfo.documentID">[new]</span></td>
	  </tr>
	  <tr>
	  	<td>R&eacute;sum&eacute;</td>
	  	<td><span>{{workflow.data.metadata.schema || schemaName}}<span> <span>{{workflow.data.title | lstring}}</span></td>
	  </tr>
	  <tr>
	  	<td>Action demand&eacute;e</td>
	  	<td>
	  		<div ng-switch="workflow.type.name"><span ng-switch-when="publishNationalRecord">Publish a national record</span> <span ng-switch-when="publishReferenceRecord">Publish a reference record</span> <span ng-switch-default>*{{workflow.type.name|uppercase}}</span></div>
		</td>
	  </tr>
	  <tr>
	  	<td>Overall status</td>
	  	<td><span ng-switch="workflow.state"> <span ng-switch-when="running"><span ng-show="hasOpenActivities(workflow.activities)"><i class="fa fa-times"></i> Awaiting for user action</span> <span ng-hide="hasOpenActivities(workflow.activities)"><i class="fa fa-cog"></i> Processing</span></span> <span ng-switch-when="completed">Completed on {{workflow.closedOn|date:&apos;yyyy-MM-dd HH:mm:ss&apos;}}</span> <span ng-switch-when="canceled"><i class="fa fa-remove-circle"></i> Canceled on {{workflow.closedOn|date:&apos;yyyy-MM-dd HH:mm:ss&apos;}}</span> <span ng-switch-when=""><i class="fa fa-exclamation"></i> Failed on {{workflow.closedOn|date:&apos;yyyy-MM-dd HH:mm:ss&apos;}}</span> <span ng-switch-default>*{{workflow.state|uppercase}}</span></td>
	  </tr>
	  <tr>
	  	<th>User activity(ies)</th>
	  	<th>Status / Result</th>
	  </tr>

	  <tr ng-show="workflow.createdOn">
	  	<td>Created</td>
	  	<td>{{workflow.createdOn|date:&apos;short&apos;}} by {{workflow.createdBy_info.firstName}} {{workflow.createdBy_info.lastName}}</td>
	  </tr>

	  <tr ng-repeat="activity in workflow.activities">
	  	<td>
			<div ng-show="activity" ng-switch="activity.name"><span ng-switch-when="publishRecord">Approve or Reject record publication</span> <span ng-switch-default>*{{activity.name|uppercase}}</span></div>
	  	</td>
	  	<td>
			<div ng-hide="activity.closedOn" ng-switch="activity.name">
				<div ng-switch-when="publishRecord"><span ng-hide="activity.closedOn"><button ng-disabled="activity.closedOn || !isAssignedToMe(activity)" ng-repeat="action in activity.input.actions" type="button" class="btn btn-default" ng-click="updateActivity(activity.name, { action : action })">{{action|uppercase}}</button><span ng-hide="isAssignedToMe(activity)">This actitivity is not assigned to you ☹</span> </span></div>
			</div>

			<div ng-show="activity.completedOn"><span ng-show="activity" ng-switch="activity.result.action"><span ng-switch-when="approve"><i class="fa fa-check"></i> Approved</span> <span ng-switch-when="reject"><i class="fa fa-remove"></i> Rejected</span></span> <span ng-hide="activity"><i class="fa fa-check"></i> Completed</span> on {{activity.completedOn|date:&apos;short&apos;}} by {{activity.completedBy_info.firstName}} {{activity.completedBy_info.lastName}}</div>

			<div ng-show="activity.canceledOn">Canceled on {{activity.canceledOn|date:&apos;short&apos;}} by {{activity.canceledBy_info.firstName}} {{activity.canceledBy_info.lastName}}</div>

			<div ng-show="activity.failedOn">Failed on {{activity.failedOn|date:&apos;short&apos;}}</div>


	  	</td>
	  </tr>


	</table>


	<div ng-show="document" class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Document to approve</h3>
	  </div>
	  <div class="panel-body">
		<view-form-loader document="document" hide-buttons="true" link-target="_blank"></view-form-loader>
	  </div>
	</div>



</div>
