<div>

	<div ng-hide="report || onLoad" class="alert alert-info"><i class="fa fa-cog fa-spin"></i> Анализируя ваш документ ...</div>

	<div ng-show="report">
		<div ng-show="isValid()" class="alert alert-success">
			<h2>Ваш документ является допустимым и может быть опубликован.</h2>
			<h4 class="color-darkgrey">Перед публикацией, пожалуйста, просмотрите ваш документ. Все опубликованные документы становятся общедоступными.</h4>
		</div>


		<div ng-show="hasErrors()" class="alert alert-warning">
			<h2 class="color-red">В вашем документе обнаружены ошибки.</h2>
			<h4 class="color-darkgrey">Все ошибки должны быть исправлены до публикации этого документа.</h4>
			<ul>
				<li ng-repeat="error in report.errors" title="{{error.parameters}}">{{getTranslation(error.code, error.property, error.parameters)}} /<ul ng-if="error.properties">
						<li ng-repeat="property in error.properties" title="{{error.parameters}}"><a translation-url href="#" ng-click="jumpTo(property)">{{getLabel(property)}}</a></li>
					</ul><span ng-if="!error.properties"><a translation-url href="#" ng-click="jumpTo(error.property)">{{getLabel(error.property)}}</a></span></li>
			</ul>
		</div>

		<div ng-show="hasWarnings()" class="alert alert-info">
			<h2 class="color-red">В вашем документе обнаружены предупреждения.</h2>
			<ul>
				<li ng-repeat="error in report.warnings" title="{{error.parameters}}">{{getTranslation(error.code, error.property, error.parameters)}} / <a translation-url href="#" ng-click="jumpTo(error.property)">{{getLabel(error.property)}}</a></li>
			</ul>
		</div>
</div>
