<div dir="rtl">
	<style>
		.panel-header,
		.section .section-header {
			border-bottom: 1px solid #ddd;
			padding-left: 10px;
		}
		
		.help-block {
			text-align: justify;
		}
		
		.panelMain .panel-body {
			padding: 0px
		}
		
		.mainHeading,
		.section .section-body,
		.panel-body {
			padding: 15px!important;
		}
		
		.assessmentform .webui-popover {
			z-index: 9999;
		}
	</style>
	<div class="panel panel-default bg-litegrey">
		<div class="panel-header bg-darkgrey">
			<h2 style="margin-top:0px;color:#fff">الإبلاغ إلكترونيا تقييم العوائق<i ng-show="status=='loading'" class="fa fa-spinner fa-spin" dir="rtl"></i></h2>
		</div>
		<div class="panel-body">
			<md-content style="padding:5px;overflow: visible;" class="bg-litegrey assessmentform">
				<div class="alert alert-danger" ng-show="hasError()"><strong>حدث خطأ...</strong><div>{{error}}</div>

					<div ng-if="container =='.ngdialog-theme-default'">
							<button class="btn btn-warning" ng-click="onPostClose()">إغلاق</button>
					</div>

				</div>

				<div ng-hide="status=='hidden'||status=='loading'">

					<div class="row">
						<div class="col-xs-6"><span km-form-languages ng-model="document.header.languages"></span></div>
						<div class="col-xs-6 text-right" ng-if="status!='hidden'"><span km-form-material-buttons status="status" document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)"
											on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()" data-container="{{container}}"></span></div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<ul class="pagination">
								<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="tab='general'">&laquo;</a></li>
								<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'">عام</a></li>
								<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'">مراجعة</a></li>
								<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="tab='review'">&raquo;</a></li>
							</ul>
						</div>
					</div>

					<form name="editForm">
						<div km-tab="general">
							<div class="panel panel-default panelMain">
								<div class="panel-header">
									<h3>معلومات عامة</h3>
								</div>
								<div class="panel-body">

									<div class="row bottom-spacing">
										<div class="col-md-12">
											<div class="km-control-group" required name="government" caption="الدولة">
												<div km-select ng-disabled="!!defaultGovernment()" required name="government" ng-model="document.government" placeholder="يرجى اختيار البلد..." watch-items items="options.countries"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default panelMain">
								<div class="panel-header">
									<h3>الهدف من التقييم</h3>
								</div>
								<div class="panel-body">

									<div class="row bottom-spacing">

										<div class="col-md-12">
											<div class="km-control-group" required name="nationalTarget" caption="الهدف:" ng-show="document.nationalTarget" data-container=".assessmentform" data-content="يرجى اختيار الهدف الوطني أو أهداف أيشي التنوع البيولوجي الذي تم تقييمه">
												<div km-select required displaycount="1" name="nationalTarget" ng-model="document.nationalTarget" placeholder="يرجى اختيار هدف واحد" watch-items items="options.nationalTargets"></div>
											</div>
											<div class="km-control-group" required name="aichiTarget" caption="الهدف:" ng-show="document.aichiTarget" data-container=".assessmentform" data-content="يرجى اختيار الهدف الوطني أو أهداف أيشي التنوع البيولوجي الذي تم تقييمه">
												<div km-select required displaycount="1" name="aichiTarget" ng-model="document.aichiTarget" placeholder="يرجى اختيار هدف واحد" items="options.aichiTargets()"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default panelMain">
								<div class="panel-header">
									<h3>فئة التقدم المحرز نحو تنفيذ الهدف المحدد</h3>
								</div>
								<div class="panel-body">

									<div class="row bottom-spacing">

										<div class="col-md-12" ng-if="status =='ready'">
											<div class="km-control-group" required name="progress" caption="صنّف التقدم المحرز نحو تنفيذ الهدف المحدد" data-container=".assessmentform" data-content="بالنسبة للهدف الوطني المحدد، يرجى الإشارة إلى المستوى الحالي من التقدم الذي تم إحرازه نحو تحقيقه باستخدام الفئات الواردة أدناه. الفئات أدناه هي نفسها المستخدمة في الطبعة الرابعة من نشرة التوقعات العالمية للتنوع البيولوجي. يجب أن يأخذ التقييم بعين الاعتبار الموعد المحدد للهدف الوطني.">
												<div km-term-radio name="progress" required ng-model="document.progress" terms="options.progresses()" description="true" binding-type="term" data-container=".assessmentform"></div>
											</div>
										</div>

										<div class="col-md-12">
											<div class="km-control-group" required name="date" caption="تاريخ إجراء التقييم" data-container=".assessmentform" data-content="يرجى الإشارة إلى التاريخ الذي اضطلع فيه بتقييم هذا التقدم.">
												<div km-date name="date" required ng-model="document.date"></div>
											</div>
										</div>
									</div>

									<div class="row bottom-spacing">
										<div class="col-md-12">
											<div class="km-control-group" name="assessmentText" caption="معلومات إضافية (يرجى تقديم معلومات عن الأدلة المستخدمة في تقييم هذا الهدف، استنادا إلى المعلومات ذات الصلة الواردة في القسم الثاني، بما في ذلك، العقبات القائمة أمام إجراء التقييم)."
															data-container=".assessmentform" data-content="يرجى تقديم معلومات إثباتية للاختيار الوارد أعلاه. ويمكن أن يشمل ذلك المعلومات المتعلقة بالتأثير العام للتدابير التي اتخذت أو التغيرات التي طرأت على حالة واتجاهات التنوع البيولوجي، والتغيرات في الضغوط على التنوع البيولوجي أو دوافع فقدانه، والتغيرات في الظروف الاجتماعية والاقتصادية، مثل الوعي بالتنوع البيولوجي، والتغيرات في توافر الموارد، والتغيرات في السياسات الحكومية، أو تغييرات في سلوك القطاعات الرئيسية في البلاد. بالنسبة للأهداف الوطنية التي تعد كمية في الطبيعة، قد ترغب الأطراف أيضا بالنظر في التقارير عن مدى الإنجاز فيما يتعلق بالقيمة المستهدفة. على سبيل المثال، بالنسبة لبعض أنواع من الأهداف، ويمكن أن يتم هذا مع استخدام النسب المئوية. وقد ترغب الأطراف أيضا في وصف العملية التي استخدمتها في تقييم التقدم المحرز نحو تحقيق الهدف، فضلا عن الإبلاغ عن أي عوائق تتعلق بعملية تقييم الهدف.">
												<div km-textbox-ml required name="assessmentText" ng-model="document.assessmentText" rows="10" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default panelMain">
								<div class="panel-header">
									<h3>المؤشرات وغيرها من الأدوات المستخدمة في هذا التقييم</h3>
								</div>
								<div class="panel-body">



									<div class="row bottom-spacing">
										<div class="col-md-12">
											<div class="km-control-group" name="nationalIndicatorsUsed" caption="هل استخدم بلدك أي مؤشرات لتقييم التقدم المحرز نحو تحقيق هذا الهدف الوطني?" data-container=".assessmentform" data-content="يرجى الإشارة إلى أي من المؤشرات المستخدمة لتقييم التقدم المحرز نحو تحقيق هذا الهدف. . ويمكن أن تشمل هذه المؤشرات الواردة في الاستراتيجيات وخطط العمل الوطنية للتنوع البيولوجي الخاصة ببلدك أو المؤشرات التي وضعت لعمليات أخرى. وفي المقرر 13/28 رحب مؤتمر الأطراف في اتفاقية التنوع البيولوجي بقائمة المؤشرات العامة والمحددة للخطة الاستراتيجية للتنوع البيولوجي 2011-2020. وفي تقييم التقدم المحرز نحو تحقيق الأهداف الوطنية لبلدك، قد ترغب في الاستفادة من هذه القائمة من المؤشرات، إذا كان ذلك مناسبا. ولمزيد من المعلومات عن المؤشرات، بما في ذلك أدوات لوضع المؤشرات الوطنية، يرجى الاطلاع على موقع   
										<a translation-url href='http://www.bipindicators.net/' target='_new '> شراكة مؤشرات التنوع البيولوجي </a> و <a translation-url href='http://geobon.org/ ' target='_new '>شبكة رصد التنوع البيولوجي التابعة للفريق المعني برصد الأرض </a>.">

												<button data-toggle="buttons-checkbox" type="button" ng-class="{'btn-primary':document.nationalIndicatorsUsed, 'btn-default': document.nationalIndicatorsUsed==false}" class="btn btn-default" ng-click="document.nationalIndicatorsUsed=true">نعم</button>
												<button data-toggle="buttons-checkbox" type="button" ng-class="{'btn-primary':document.nationalIndicatorsUsed==false, 'btn-default': document.nationalIndicatorsUsed}" class="btn btn-default" ng-click="document.nationalIndicatorsUsed=false">لا</button>
											</div>
											<div class="row" ng-show="document.nationalIndicatorsUsed">
												<div class="col-md-12">
													<div class="km-control-group" name="nationalIndicators" caption="يرجى تقديم قائمة بالمؤشرات المستخدمة لتقييم هذا الهدف">
														<div km-textbox-ml name="nationalIndicators" ng-model="document.nationalIndicators" locales="document.header.languages" rows="3"></div>
													</div>
												</div>
											</div>
										</div>
									</div>


									<div class="row  bottom-spacing">
										<div class="col-md-12">
											<div class="km-control-group" name="documentText" caption="يرجى وصف أي أدوات أو وسائل أخرى تستخدم لتقييم التقدم" data-container=".assessmentform" data-content="يرجى وصف أي أدوات أو نهج استخدمها بلدكم لتقييم التقدم المحرز نحو هذا الهدف الوطني. ويمكن أن يشمل دراسات الحالة، والدراسات المكتبية، وآراء الخبراء، والمشاورات مع أصحاب المصلحة، من بين أمور أخرى.">
												<div km-textbox-ml name="documentText" ng-model="document.documentText" rows="5" locales="document.header.languages" placeholder=""></div>
											</div>
										</div>
									</div>
									<div class="row  bottom-spacing">
										<div class="col-md-12">
											<div class="km-control-group" name="documentLinks" caption="المواقع الشبكية ووصلات الويب والملفات ذات الصلة (يرجى استخدام هذا الحقل للإشارة إلى أي مواقع شبكية أو وصلات الويب أو الوثائق ذات الصلة التي يمكن العثور فيها على معلومات تتعلق بهذا التقييم)."
															data-container=".assessmentform" data-content="يرجى الإشارة إلى أي مواقع أو وصلات ويب أو وثائق ذات صلة توفر مزيدا من المعلومات ذات الصلة لتقييم التقدم نحو تحقيق هذا الهدف الوطني. ويمكن أن يشمل معلومات عن المنهجيات والبيانات التي تقوم عليها المؤشرات والأدوات المحددة أعلاه.">
												<div km-link name="documents" ng-model="document.documentLinks" identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default panelMain">
								<div class="panel-header">
									<h3>مستوى الثقة</h3>
								</div>
								<div class="panel-body">

									<div class="row bottom-spacing">
										<div class="col-md-12" ng-if="status =='ready'">
											<div class="km-control-group" required name="confidence" caption="مستوى الثقة للتقييم أعلاه" data-container=".assessmentform" data-content="يرجى الإشارة إلى مستوى ثقة بلدك في التقييم المذكور أعلاه.">
												<div km-term-radio name="implementationMeasureAssessment" ng-model="document.confidence" terms="options.confidences()" description="true" binding-type="term" data-container=".assessmentform"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" required name="confidenceInfo" caption="يرجى تقديم توضيح لمستوى الثقة المشار إليه أعلاه" data-container=".assessmentform" data-content="يرجى وصف لماذا تم إعطاء تقييم مستوى الثقة المحدد أعلاه. قد ترغب الأطراف في التعليق على أنواع المعلومات أو المؤشرات المستخدمة، وتمثيلها، وتغطيتها، وأي قيود قد تكون لديها.">
												<div km-textbox-ml required name="confidenceInfo" rows="6" ng-model="document.confidenceInfo" locales="document.header.languages"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12" ng-if="status =='ready'">
											<div class="km-control-group" name="adequacy" caption="مدى كفاية معلومات الرصد لدعم التقييم" data-container=".assessmentform" data-content="يرجى الإشارة إلى مدى كفاية وضع أنظمة الرصد الوطنية لهذا الهدف الوطني.">
												<div km-term-radio name="adequacy" ng-model="document.adequacy" terms="options.adequacyMonitoring()" description="true" binding-type="term" data-container=".assessmentform"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12" ng-if="isMonitoringNotRequired()">
											<div class="km-control-group" name="adequacyDescription" caption="يرجى وصف كيفية رصد الهدف والإشارة إلى إذا ما كان هناك نظام قائم للرصد." data-container=".assessmentform" data-content="إذا تم اختيار أحد الأجوبة عن السؤالين الأول والثاني في السؤال الوارد أعلاه (مثل، الرصد المتعلق بهذا الهدف غير كاف أو الرصد المتعلق بهذا الهدف هو جزئي)، يرجى وصف كيفية رصد الهدف، بما في ذلك المعلومات المتعلقة بأي نظم رصد ذات صلة. ومن بين المسائل التي قد يرغب بلدك إدراجها في ردها هي: خصائص نظام الرصد، والمنظمات المسؤولة عن ذلك، وكيف يتم جمع المعلومات أو البيانات، ونوع البيانات التي يتم جمعها وكيف يتم تحديث البيانات في كثير من الأحيان.">
												<div km-textbox-ml name="adequacyDescription" ng-model="document.adequacyDescription" locales="document.header.languages" rows="3"></div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="otherRelevantDocuments" caption="المواقع الشبكية ووصلات الويب والملفات ذات الصلة (يرجى استخدام هذا الحقل للإشارة إلى أي مواقع شبكية أو وصلات الويب أو الوثائق ذات الصلة التي يمكن العثور فيها على معلومات إضافية تتعلق بنظام الرصد)."
															data-container=".assessmentform" data-content="إذا تم نشر المعلومات المتعلقة بنظام الرصد في مصادر أخرى، يرجى تضمين الملفات ذات الصلة و/أو وصلات على شبكة الإنترنت. على سبيل المثال، يمكن أن يشمل ربط مباشرة للمقالات العلمية، وتقديم المواقع الشبكية ووصلات الويب ومواقع المنشورات.">
												<div km-link name="otherRelevantDocuments" ng-model="document.otherRelevantDocuments" identifier="document.header.identifier"></div>
											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="panel panel-default panelMain">
								<div class="panel-header">
									<h3>ملاحظات</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="km-control-group" name="notes"><span class="help-block">الحقل &quot;ملاحظات&quot; للاستخدام الشخصي ويظهر فقط أثناء تحرير السجل.</span><div km-notes name="notes" ng-model="document.notes"></div>
											</div>
										</div>
									</div>
								</div>
							</div>



						</div><!--end addtional info tab--></form>


					<div km-tab="review"><!--<div ng-if="status!='hidden'">--><div km-document-validation ng-model="validationReport" data-container="{{container}}"></div><!--</div>--><div class="btn-group" ng-show="document.header.languages.length>1">
							<input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
						</div>

						<view-national-assessment ng-model="document" locale="review.locale"></view-national-assessment>
					</div>

					<div class="row" style="padding-bottom:30px;">
						<div class="col-sm-9 col-xs-12">
							<ul class="pagination">
								<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="tab='general'">&laquo;</a></li>
								<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'">عام</a></li>
								<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'">مراجعة</a></li>
								<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="tab='review'">&raquo;</a></li>
							</ul>
						</div>

						<div class="col-xs-12 text-right">
							<div class=""><span km-form-material-buttons status="status" document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)"
												on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()" data-container="{{container}}"></span></div>
						</div>
					</div>


				</div>
			</md-content>
		</div>
	</div>
</div>
