<div id="sixth-national-report-edit" dir="rtl">
	<div id="wrap1">
		<div class="panel panel-default bg-litegrey">
			<div class="ngdialog-overlay" ng-if="isDialogLoading" style="z-index: 100">
				<div style="margin-left: 50%;"><i class="fa fa-spin fa-spinner fa-5x" /></div>
			</div>
			<div class="panel-header bg-darkgrey">
				<h2 style="margin-top:0px;color:#fff">التقرير الوطني السادس</h2>
			</div>
			<div class="panel-body">

				<div class="col-md-12" style="padding:0px" >
					
					<div class="row" style="padding:15px;font-size: 3em" ng-show="status=='loading'"><i ng-show="status=='loading'" class="fa fa-spinner fa-spin"></i>تحميل التقرير الوطني السادس</div>


					<div class="alert alert-danger" ng-show="hasError()" id="errorSection"><strong>حدث خطأ...</strong><div>{{error}}</div>
					</div><!-- ng-hide="status=='hidden'||status=='loading'"ng-if="status!='hidden' && status!='loading'" --><div  ng-show="status!='hidden' && status!='loading'">
						<div class="row">
							<div class="col-xs-12"><span class="pull-right"><strong>دليل المستخدم - التقرير الوطني السادس
</strong><a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-en.pdf" target="_blank">الإنجليزية</a> | <a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-fr.pdf" target="_blank">الفرنسية</a> | <a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-es.pdf" target="_blank">الأسبانية</a> | <a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-ru.pdf" target="_blank">الروسية</a> | <a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-zh.pdf" target="_blank">الصينية</a> | <a href="https://www.cbd.int/chm/doc/chm-latest-guide-online-reporting-ar.pdf" target="_blank">عربى</a></span></div>
						</div>
						<header >

							<div id="wrap">
								<div style="display:none;visibility:hidden;height:123px"></div>								
								<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
									<div class="container container-custom">
										<div class="collapse navbar-collapse small-screen">

											<div class="row">
												<div class="col-xs-12" >
													<ul  class="pagination"  >
														<li ng-class="{ disabled: tab=='general' }"><a translation-url href="" ng-click="switchTab('prev')">&laquo;</a></li>
														<li ng-class="{ active  : tab=='general' }"><a translation-url href="" ng-click="tab='general'">الأهداف الوطنية</a></li>
														<li ng-class="{ active  : tab=='implementation' }"><a translation-url href="" ng-click="tab='implementation'">التنفيذ</a></li>
														<li ng-class="{ active  : tab=='progress' }"><a translation-url href="" ng-click="tab='progress'">تقييم التقدم</a></li>
														<li ng-class="{ active  : tab=='nationalContribution' }"><a translation-url href="" ng-click="tab='nationalContribution'">المساهمة الوطنية</a></li>
														<li ng-class="{ active  : tab=='gspcContribution' }"><a translation-url href="" ng-click="tab='gspcContribution'">مساهمة الاستراتيجية العالمية لحفظ النبات</a></li>
														<li ng-class="{ active  : tab=='iplcContribution' }"><a translation-url href="" ng-click="tab='iplcContribution'">مساهمة الشعوب الأصلية والمجتمعات المحلية</a></li>
														<li ng-class="{ active  : tab=='countryProfile' }"><a translation-url href="" ng-click="tab='countryProfile'">معلومات مختصرة عن البلد</a></li>
														<li ng-class="{ active  : tab=='review'  }"><a translation-url href="" ng-click="tab='review'">مراجعة</a></li>
														<li ng-class="{ disabled: tab=='review'  }"><a translation-url href="" ng-click="switchTab('next')">&raquo;</a></li>
													</ul>
													<div  km-document-validation ng-model="warningsReport" ng-if="(document.nationalContribution && document.nationalContribution.aichiTarget16.nationalReport
															&& !document.nationalContribution.aichiTarget16.nationalReportDescription)
															&& warningsReport && warningsReport.warnings"></div>

												</div>
												<div class="col-xs-6" >

													<div style="display:inline;text-transform: uppercase;font-weight: 500;font-size:12px;">تغيير لغة موقع الويب:</div>
													<locale-header style="display:inline;position: inherit;" class="locale-header btn-thin" id="MyLocale"></locale-header>|<div style="display:inline;text-transform: uppercase;font-weight: 500;font-size:12px;">الإرسال بلغة (لغات) أخرى:</div><span style="display:inline;" km-form-languages ng-model="document.header.languages" class="btn-thin"></span></div>
												<div class="col-xs-6 text-right"><span km-form-material-buttons status="status" document="getCleanDocument()" on-post-close="onPostClose()" on-error="onError(error, errorCode)"
													    on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)"
													    on-pre-save-draft="onPreSaveDraft()" on-pre-publish="onPrePublish()"></span></div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</header>
						<form   name="editForm" style="margin-top:10px">

							<div   id="generalTab"  km-tab="general">

								<div class="panel panel-default panelMain" style="min-height:500px">
									<div class="panel-header">
										<h3>القسم الأول. معلومات عن الأهداف الجاري السعي وراء تحقيقها على المستوى الوطني</h3>
									</div>
									<div class="panel-body" ng-if="tab=='general'">
										<div class="row  mainHeading">
											<div class="col-md-12"><span class="help-block">يرجى استخدام النموذج التالي لوصف الأهداف الوطنية لبلدك. سيتم ربط الأهداف الوطنية التي تمّ ادخالها في هذا القسم بأقسام أخرى من التقرير. إذا لم يكن بلدك قد وضع أو اعتمد بعد أهدافا وطنية تتعلق بالخطة الاستراتيجية للتنوع البيولوجي 2011-2020، يرجى الإشارة إلى ذلك في الإطار التالي والانتقال إلى القسم الثاني. <a translation-url info-bar data-content="The objective of this section of the report is to collect information on the national targets that countries have adopted in line with the Strategic Plan for Biodiversity 2011-2020 (paragraph 3(b) of decision X/2). If your country has set and/or adopted national targets or equivalent commitments related to the Strategic Plan for Biodiversity 2011-2020 please use the following template to describe them."
													    data-title="CHM Help: Sixth national report"></a></span></div>
										</div>
										<div class="section">
											<div class="section-header">
												<h3>معلومات عامة</h3>
											</div>
											<div class="section-body">
												<div class="row" >

													<div class="col-md-12">
														<div class="km-control-group" name="government" required caption="الدولة">															
															<div   km-select ng-if="!user.government" required name="government" single ng-model="document.government" placeholder="يرجى اختيار البلد..."
																items="options.countries"></div><span class="btn btn-info" ng-if="user.government" ng-bind="document.government|term:locale"></span></div>
													</div>
												</div>
												<div class="row" ng-if="document.government">
													<div class="col-md-12">
														<div class="km-control-group" name="targetPursued">
															<input type="radio" name="targetPursued" ng-model="document.targetPursued" group="targetPursued" ng-value="true" /> اعتمد بلدي أهدافا وطنية للتنوع البيولوجي أو التزامات مكافئة بما يتماشى مع الخطة الاستراتيجية للتنوع البيولوجي 2011-2020 وأهداف أيشي. <a translation-url info-bar data-content="Check this box if your country has adopted national biodiversity targets or equivalent commitments associated to the attainment of the Aichi Biodiversity Targets or other parts of the Strategic Plan for Biodiversity 2011-2020."
															    data-title="CHM Help: Sixth national report"></a> <br/> <br/><input type="radio" name="targetPursued" ng-model="document.targetPursued" group="targetPursued" ng-value="false" /> لم يعتمد بلدي أهدافا وطنية للتنوع البيولوجي. وهو يبلغ عن التقدم المحرز باستخدام أهداف أيشي للتنوع البيولوجي كمرجعية انتقل إلى القسم الثاني في القسم الثالث، ولأغراض هذا التقرير، تُستخدم أهداف أيشي للتنوع البيولوجي بوصفها الأهداف الوطنية وينبغي تقييم التقدم نحو تحقيقها في السياق الوطني. <a translation-url info-bar data-content="Check this box if your country has not (yet) adopted national biodiversity targets. In section II, your country will be asked to link its implementation measures to the Aichi Biodiversity Targets. In section III, your country will be asked to assess national progress towards the Aichi Biodiversity Targets"
															    data-title="CHM Help: Sixth national report"><i class="fa fa-info-circle fa-2x"></i></a> <br/> <br/><input type="radio" name="targetPursued" 
															ng-model="document.notReportingOnNationalTargets" group="targetPursued" 
															ng-value="true" ng-change="updateNotReportingOnNationalTargets(document.notReportingOnNationalTargets)" />اعتمد بلدي أهدافاً وطنية للتنوع البيولوجي ولكنه اختار الإبلاغ عن التقدم باستخدام أهداف أيشي للتنوع البيولوجي كمرجع. <a translation-url info-bar data-content="If your country has adopted national biodiversity targets but wishes to report using the Aichi Biodiversity Targets, please select this option. Upon selecting this option, a text box will become available in which you can provide an explanation for your choice."
															    data-title="CHM Help: Sixth national report"><i class="fa fa-info-circle fa-2x"></i></a><div class="row" ng-if="document.notReportingOnNationalTargets">
																<div class="col-md-12">
																	<div class="km-control-group" name="notReportingOnNationalTargetsReason" 
																	caption="يرجى تقديم معلومات عن سبب اختيار بلدك للإبلاغ عن التقدم باستخدام أهداف أيشي للتنوع البيولوجي وليس أهدافها الوطنية.">
																		<div km-textbox-ml name="notReportingOnNationalTargetsReason" ng-model="document.notReportingOnNationalTargetsReason" locales="document.header.languages"
																			rows="3"></div>
																	</div>
																</div>
															</div>
															
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div ng-show="document.targetPursued">
											<div class="section section-default">
												<div class="section-header" style="border-bottom: 1px solid #ddd">
													<h3>الأهداف الوطنية</h3>
												</div>
												<div class="section-body" id="sortingSection">
													<div class="row">
														<div class="col-xs-12">

															<ul class="list-group ng-scope" style="margin-top: 10px;">
																<li class="list-group-item ng-scope" style="min-height: 50px;">
																	<div class="pull-right btn-group">
																		<button ng-disabled="loadingNationalTargets||isDialogOpen" class="btn btn-primary" ng-click="openDialog({},'directives/formats/forms/national-target-dialog','edit-national-target-dialog')">إضافة هدف</button><a translation-url ng-disabled="loadingNationalTargets" class="btn btn-primary" ng-hre="#" ng-click="refreshNationaTargets()"> <i class="fa fa-spin fa-spinner" ng-if="loadingNationalTargets" />تحديث</a></div>
																</li>
															</ul>
														</div>
														<div class="row">
															<div class="col-xs-12">
															<div drag-to-reorder="document.nationalTargets"><br/><br/> </br><div  ng-repeat="item in document.nationalTargets">
																	
																	<div class="col-xs-12 col-sm-12 col-md-12" dtr-draggable>

																		<div class="panel panel-default">
																			<div class="panel-header clearfix"><!-- <div class="row"> --> <!-- <div class="col-xs-11">							 --><h3>{{nationalTargets[item.identifier].title|lstring:locale}}<div class="pull-right implementation-measure-action-buttons btn-group" style="padding-right:10px"><a ng-href="#" class="btn" ng-click="movePosition(document.nationalTargets, $index, 'up', 'nationalTarget')"
																								data-toggle="tooltip" data-placement="top" title="تأكيد الحذف" ng-if="!$first"> <i class="fa fa-level-up" style="font-size:20px"/> </a> <a ng-href="#" class="btn " ng-click="movePosition(document.nationalTargets, $index, 'down', 'nationalTarget')"
																							data-toggle="tooltip" data-placement="top" title="مقياس التنفيذ" ng-if="!$last"> <i class="fa fa-level-down" style="font-size:20px"/> </a></div>
																					</h3><!-- </div> --> <!-- <div class="col-xs-1">	
																						<table class="pull-right">
																							<tr>																				
																								<td>
																									<i class="fa fa-arrows"  style="font-size:20px;padding-top:5px;"/>																						
																								</td>
																							</tr>
																							<tr>
																								<td style="padding-left:5px">
																									<a info-bar data-content="Targets can be reorderd by click + dragging to new position" data-title="CHM Help: Sixth national report">
																										<i class="fa fa-info-circle fa-2x"></i>
																									</a>
																								</td>
																							</tr>
																						</table>
																					</div>			 --> <!-- </div> --></div>
																			<div class="panel-body"><br/><div class="btn-group-xs btn-status" 
																					ng-if="waitForWorkflow.nationalTarget.identifier != item.identifier || !waitForWorkflow.nationalTarget"><span class="label label-primary pull-right  bg-published"  style="margin-left:5px;"
																						ng-if="nationalTargets[item.identifier]._state_s=='public' || nationalTargets[item.identifier].publicRecord">عام</span> <span class="label label-warning pull-right  bg-draft" ng-if="nationalTargets[item.identifier]._state_s=='draft'">مسودة</span> <span class="label label-warning pull-right  bg-request" ng-if="nationalTargets[item.identifier]._state_s=='workflow'">بانتظار الموافقة
</span></div>
																				<div class="btn-status" ng-if="waitForWorkflow.nationalTarget && waitForWorkflow.nationalTarget.identifier == item.identifier"><span class="label label-warning pull-right bg-request"><i class="fa fa-spin fa-spinner"></i > قيد التنفيذ...</span></div>
																				<ul>
																					<li ng-repeat="target in nationalTargets[item.identifier].aichiTargets track by $index" ng-if="!nationalTargets[item.identifier].isAichiTarget && nationalTargets[item.identifier].aichiTargets">{{target}}</li>
																					<li ng-repeat="target in nationalTargets[item.identifier].otherAichiTargets track by $index" ng-if="nationalTargets[item.identifier].otherAichiTargets">{{target}}</li>
																					
																				</ul>
																			</div>
																			<div class="panel-footer">
																				<div class="btn-group btn-group-xs" ng-if="waitForWorkflow.nationalTarget.identifier != item.identifier || !waitForWorkflow.nationalTarget"><a translation-url title="مشاهدة" ng-if="nationalTargets[item.identifier]._state_s == 'public'" target="_blank" class="btn btn-primary" ng-href="{{nationalTargets[item.identifier].url}}"><i class="fa fa-search"></i> مشاهدة</a> <a translation-url ng-if="nationalTargets[item.identifier]._state_s=='workflow' " title="مغلق للتعديل" target="_blank" class="btn btn-primary" ng-href="/management/requests/{{getWorkflowId(nationalTargets[item.identifier])}}/publishRecord"><i class="fa fa-lock"></i>حالة المشاهدة</a><button ng-click="openDialog(nationalTargets[item.identifier],'directives/formats/forms/national-target-dialog','edit-national-target-dialog')" ng-if="nationalTargets[item.identifier]._state_s!='workflow'"
																						title="تعديل" type="button" class="btn btn-primary"><i class="fa fa-edit"></i> تعديل</button>
																					<button ng-disabled="nationalTargets[item.identifier]._state_s != 'draft' && nationalTargets[item.identifier].assessments.length > 0" ng-hide="nationalTargets[item.identifier]._state_s=='workflow'" title="حذف"
																						type="button" class="btn btn-primary" ng-click="delete(nationalTargets[item.identifier],'nationalTarget', $event)"><i class="fa fa-trash-o"></i> حذف</button>
																				</div>
																			</div>
																		</div><span class="clearfix"></span></div>
																</div>
															</div>
														</div>
													</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div    id="implementationTab"  km-tab="implementation">
								<div style="margin:0 50%" ng-show="loadingimplementationTab"><i class="fa fa-spinner fa-spin"></i>قيد التحميل</div>
							</div>
							<div  id="progressTab"   km-tab="progress">
								<div style="margin:0 50%" ng-show="loadingprogressTab"><i class="fa fa-spinner fa-spin"></i>قيد التحميل</div>
							</div>
							<div id="nationalContributionTab"  km-tab="nationalContribution">
								<div style="margin:0 50%" ng-show="loadingnationalContributionTab"><i class="fa fa-spinner fa-spin"></i>قيد التحميل</div>
							</div>
							<div  id="gspcContributionTab"  km-tab="gspcContribution">
								<div style="margin:0 50%" ng-show="loadinggspcContributionTab"><i class="fa fa-spinner fa-spin"></i>قيد التحميل</div>
							</div>

							<div id="iplcContributionTab" km-tab="iplcContribution">
								<div  style="margin:0 50%" ng-show="loadingiplcContributionTab"><i class="fa fa-spinner fa-spin"></i>قيد التحميل</div>
							</div>

							<div  id="countryProfileTab"  km-tab="countryProfile">
								<div style="margin:0 50%" ng-show="loadingcountryProfileTab"><i class="fa fa-spinner fa-spin"></i>قيد التحميل</div>
							</div>
						</form>

						<div id="reviewTab"  km-tab="review">

							<div km-document-validation ng-model="validationReport"></div>
							<div class="btn-group" ng-if="document.header.languages.length>1">
									<input type="button" class="btn" ng-class="{'btn-default' : $parent.review.locale!='*', 'btn-info' :$parent.review.locale=='*'}"
									ng-click="$parent.review.locale='*'" value="*" title="كل اللغات" />
									<input type="button" class="btn" ng-class="{'btn-default' : $parent.review.locale!=locale, 'btn-info' :$parent.review.locale==locale}"
										ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}"
										title="{{locale|languageLongName}}" />
								</div>
							<div class="btn-group btn-group-sm pull-right">
								<button href="#" title="اطبع السجل" class="btn btn-default" ng-click="print()">طباعة <i class="fa fa-spin fa-spinner" ng-if="printing" ></i> <i class="fa fa-print" aria-hidden="true" ng-if="!printing"></i></button>
							</div>
							<div style="margin:0 50%" ng-show="loadingReviewTab"><i  class="fa fa-spinner fa-spin"></i>قيد التحميل</div>
							<div id="reviewSchemaView">
								<view-national-report-6 ng-model="reviewDocument" locale="getLocale()" link-target="_blank" id="schemaPrintView"></view-national-report-6>
							</div>
						</div>


					</div>
					<div >
					
						<script type="text/ng-template" id="recordExistsTemplate.html" trados-translation="true">
							<h1 dir="rtl">التقرير الوطني السادس</h1>
							<hr>
							<div class=" alert alert-danger" dir="rtl">
								<div class="glyphicon glyphicon-exclamation-sign"></div>
								<div>لا يسمح سوى سجل واحد من التقرير الوطني السادس لكل حكومة، التقرير الوطني السادس موجود بالفعل لحكومتكم,  سيتم إعادة توجيهك إلى السجل في  {{alertSeconds}} ثوانٍ.</div>
							</div>
							<div class="ngdialog-buttons" dir="rtl">
								<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="openExisting()">إعادة التوجيه الآن</button>
							</div>
						</script>
						
						<script type="text/ng-template" trados-translation="true" id="deleteRecordModal">              
					
							<div class="modal-header" dir="rtl">
								<h4 class="modal-title" >تأكيد التغيير في السجل (السجلات) التالية <i ng-show="deletingRecord" class="fa fa-spinner fa-spin" dir="rtl"></i></h4>
							</div>
							<div class="modal-body  bg-white"  dir="rtl">
								<div ng-if="draftRecordToDelete" class="well" style="font-size:14px;">
									<div style="font-size:11px;font-weight:bold;text-transform:uppercase;color:#999;border-bottom:1px solid #ddd;margin-bottom:10px;">مسودة سجل</div>
									<div class="row">     
										<div class="col-xs-2" class="color-litegrey">اللقب:</div> 
										<div class="col-xs-10" style="font-weight:bold"> {{draftRecordToDelete.title|lstring:locale}}</div>
									</div>
									<div class="row"> 
										<div class="col-xs-2" class="color-litegrey">ملخص:</div> 
										<div class="col-xs-10" style="font-weight:bold" ><span ng-bind-html="draftRecordToDelete.summary|lstring:locale"></span></div>
									</div>
									<div class="row" style="margin-top:10px;"> 
										<div class="col-xs-12"> 
											<button ng-disabled="deletingRecord" type="button" class="btn btn-danger"  ng-click="deleteDraft(draftRecordToDelete)">سجل منشور</button></div>
									</div>
								</div>
		
								<div ng-if="publicRecordToDelete" class="well" style="font-size:14px;">
									<div style="font-size:11px;font-weight:bold;text-transform:uppercase;border-bottom:1px solid #ddd;margin-bottom:10px;" class="color-green">سجل منشور</div>
									
									<div class="row">     
										<div class="col-xs-2" class="color-litegrey">عنوان:</div> 
										<div class="col-xs-10" style="font-weight:bold"> {{publicRecordToDelete.title|lstring:locale}}</div>
									</div>
									<div class="row"> 
										<div class="col-xs-2" class="color-litegrey">ملخص:</div> 
										<div class="col-xs-10" style="font-weight:bold" > <span ng-bind-html="publicRecordToDelete.summary|lstring:locale"></span></div>
									</div>
		
									<div class="row" style="margin-top:10px;"> 
										<div class="col-xs-12"><span class="label label-danger" ng-if="hasAssessment">يرجى حذف تقييم التقدم المحرز لهذا الهدف الوطني قبل حذف الهدف الوطني.</span><button ng-if="!hasAssessment" ng-show="security" type="button" class="btn btn-danger" ng-disabled="deletingRecord"
											ng-click="deletePublic(publicRecordToDelete)" 
											data-toggle="tooltip" data-placement="top" title="ملاحظة: أي مسودة معلقة ستحذف أيضًا"><span ng-if="!security.canDelete">طلب حذف هذا السجل</span> <span ng-if="security.canDelete">حذف السجل </span></button> 
										</div>
									</div>
								</div>
		
							</div>
							<div class="modal-footer"  dir="rtl">
								<button type="button" class="btn btn-default" ng-click="closeDialog()">إلغاء</button>
							</div>
						</script>

					</div>
					</div>

				</div>
			</div>
		</div>
	</div>
