<div class="container">
	
	<div class="register-content card card-1-notrans">
					
			<top-menu></top-menu>

					<h3>Запросы и уведомления <span class="helpinfoInline"></h3>

					<div>На этой странице размещаются все уведомления, поступающие со всех информационных платформ (МП-КБР, МПБ и МП-ДГРСИВ). В механизме посредничества имеется система внутренних уведомлений для обработки запросов на публикацию, напоминания о необходимости обновления записей или уведомления о возможном истечении срока действия некоторых записей. This page will allow you to follow up on the status of your records and find what the pending requests for publications are, or when a request has been approved, recalled, or rejected in any of the clearing-house platforms.</div>

					<hr style=" position: absolute; width: 100%; left: 0;"/><br></div>
			
			<div class="register-content-content">
				<xuser-notifications-panel></xuser-notifications-panel>
			</div>
		


</div>