<div class="col-md-12 panel panel-default view-national-assessment">
	<div class="panel-body">
		<div class="viewForm">
			<div class="row" style="padding-left:0px" ng-style="{ direction : (document.progress| term:locale|direction:locale) }">
				<div class="col-md-1"><img ng-if="document.progress.identifier!='69C77387-2D3C-474C-BEA8-30F55D47AFBD'" ng-src="/app/img/ratings/{{document.progress.identifier}}.png" class="pull-left"></div>
				<div class="col-md-11">
					<legend ng-if="document.progress">{{document.date.substr(0,4)}} - {{document.progress | term:locale}}</legend>
				</div>
			</div>
			<div ng-show="document.government" class="col-md-12">
				<label>Страна</label>
				<div class="km-value" ng-style="{ direction : (document.government| term:locale|direction:locale) }"><span>{{document.government | term:locale}}</span></div>
			</div>

			<div ng-show="document.description" class="col-md-12">
				<label>Описание</label>
				<km-value-ml value="document.description" locales="locale" km-pre html></km-value-ml>
			</div>

			<div ng-show="document.aichiTarget||nationalTarget" class="col-md-12 assessment-tagets">
				<label>Целевые задачи</label>
				<div >
					<div ng-repeat="item in nationalTarget">
						<km-value-ml value="item.title" locales="locale"></km-value-ml>
					</div>
					<div class="km-value" ng-if="document.aichiTarget" ng-style="{ direction : (document.aichiTarget| term:locale|direction:locale) }">{{document.aichiTarget | term:locale}}</div>
				</div>
			</div>

			<div ng-show="document.assessmentText || document.progress || document.date" class="col-md-12">
				<legend>Категория прогресса, достигнутого в выполнении выбранной целевой задачи</legend>
				<div ng-show="document.assessmentText">
					<label>Степень прогресса в реализации выбранной целевой задачи</label>
					<div class="km-value km-pre" ng-style="{ direction : (document.progress| term:locale|direction:locale) }">{{document.progress | term:locale}}</div>
				</div>
				<div ng-show="document.date">
					<label>Дата проведения оценки:</label>
					<div class="span4">
						<div class="km-value km-pre" ng-style="{ direction : locale=='ar' ? 'rtl':'ltr'}">{{document.date | localeFormatDate:locale}}</div>
					</div>
				</div>
				<div ng-show="document.assessmentText">
					<label>Сводка оценивания прогресса в реализации выбранной целевой задачи</label>
					<km-value-ml value="document.assessmentText" locales="locale" km-pre html></km-value-ml>
				</div>

			</div>


			<div class="col-md-12" ng-show="document.nationalIndicatorsUsed || document.nationalIndicators || document.strategicPlanIndicators || document.implementationActivities">
				<legend>Показатели и виды деятельности</legend>

				<div ng-show="document.nationalIndicatorsUsed===false">
					<label></label>
					<div class="km-value" >Страна не использовала индикаторы для оценивания прогресса в достижении этой национальной цели.</div>
				</div>
				<div ng-show="document.nationalIndicatorsUsed && document.nationalIndicators">
					<label>Показатели, используемые для оценивания</label>
					<km-value-ml value="document.nationalIndicators" locales="locale" html></km-value-ml>
				</div>
				<div ng-show="document.documentText">
					<label>других инструментов или средств, использовавшихся для оценки прогресса.</label>
					<km-value-ml value="document.documentText" locales="locale" km-pre html></km-value-ml>
				</div>

				<div ng-show="document.documentLinks">
					<label>Соответствующие веб-сайты, веб-ссылки и файлы</label>
					<div class="km-value" >
						<div ng-repeat="item in document.documentLinks"><a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a></div>
					</div>
				</div>

				<div ng-show="document.strategicPlanIndicators">
					<label>ссылка к Показатели, используемые для оценивания</label>
					<div class="km-value">
						<div ng-repeat="item in strategicPlanIndicators" ng-style="{ direction : (item.title|direction:locale) }">{{item.title | lstring:locale}}</div>
					</div>
				</div>

				<div ng-show="document.implementationActivities">
					<label>Ссылка на виды национальной деятельности, относящиеся к оцениванию</label>
					<div class="km-value">
						<div ng-repeat="item in document.implementationActivities" ng-style="{ direction : (item.title|direction:locale) }">{{item.title | lstring:locale}}</div>
					</div>
				</div>
			</div>

			<div ng-show="document.confidence || document.confidenceInfo || document.adequacy||document.adequacyDescription||document.otherRelevantDocuments" class="col-md-12">

				<legend>Уровень достоверности</legend>

				<div ng-show="document.confidence">
					<label>Уровень достоверности вышеприведенной оценки</label>
					<div class="km-value" ng-style="{ direction : (document.confidence | term:locale|direction:locale) }">{{document.confidence | term:locale}}</div>
				</div>

				<div ng-show="document.confidenceInfo">
					<label>Уровень достоверности вышеприведенной оценки</label>
					<km-value-ml value="document.confidenceInfo" locales="locale" km-pre html></km-value-ml>
				</div>
				<div ng-show="document.adequacy">
					<label>Адекватность информации мониторинга в поддержку оценки</label>
					<div class="km-value km-pre" ng-style="{ direction : (document.adequacy | term:locale|direction:locale) }">{{document.adequacy | term:locale}}</div>
				</div>
				<div ng-show="document.adequacyDescription">
					<label>Система мониторинга целевой задачи</label>
					<km-value-ml value="document.adequacyDescription" locales="locale" km-pre html></km-value-ml>
				</div>
				<div ng-show="document.otherRelevantDocuments">
					<label>Другие релевантные адреса веб-сайтов или прилагающиеся документы</label>
					<div class="km-value">
						<div ng-repeat="item in document.otherRelevantDocuments"><a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
