<div class="viewForm">
	<h2>{{document.title | lstring:locale}} <i ng-show="document.acronym">({{document.acronym | lstring:locale}})</i></h2>
	<style>
		.panel-header,
		.section .section-header {
			border-bottom: 1px solid #ddd;
			padding-left: 10px;
		}
		
		.help-block {
			text-align: justify;
		}
		
		.panelMain .panel-body {
			padding: 0px
		}
		
		.mainHeading,
		.section .section-body {
			padding: 15px!important;
		}
		
		.section .section-header {
			border-top: 1px solid #ddd;
			background-color: #ddd;
		}
		.ngdialog-open{
			height: auto !important;
		}
	</style>

	<div class="section">
		<div class="section-header">
			<h3>Partie I. Informations sur les objectifs poursuivis au niveau national</h3>
		</div>
		<div class="section-body">
			<div ng-show="document.government">
				<label>Pays</label>
				<div class="km-value">
					{{document.government | term:locale}}
				</div>
			</div>
			<div class="row" ng-show="document.nationalTargets">
				<div class="col-xs-12">
					<ul class="list-group ng-scope" ng-if="nationalTargets.length>0" style="margin-top: 10px;">
						<li class="list-group-item ng-scope" ng-repeat="item in nationalTargets">
							<table style="width:100%">
								<tbody>
									<tr>
										<td class="ng-binding">{{item.title|lstring:locale}}</td>
									</tr>
									<tr>
										<td>
											<ul>
												<li ng-repeat="target in item.aichiTargets">{{target|term:locale}}</li>
											</ul>
											<td>
									</tr>
								</tbody>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-header">
			<h3>Partie II. Mesures de mise en &oelig;uvre qui ont &eacute;t&eacute; prises, &eacute;valuation de leur efficacit&eacute;, obstacles et besoins scientifiques et techniques connexes pour atteindre les objectifs nationaux</h3>
		</div>
		<div class="section-body">
			<div class="row " ng-repeat="implementationMeasure in document.implementationMeasures">
				<div class="col-md-12 panel panel-default1">
					<div class="panel-header clearfix">
						<h3>{{implementationMeasure.title|lstring:locale}}
						</h3>
					</div>
					<div class="panel-body">
						<div ng-show="implementationMeasure.description">
							<label>Veuillez d&eacute;crire les mesures prises pour contribuer &agrave; la mise en &oelig;uvre des strat&eacute;gies et plans d&rsquo;action nationaux pour la diversit&eacute; biologique de votre pays.</label>
							<div class="km-value km-pre">{{implementationMeasure.description | lstring:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.aichiTarget">
							<label>Objectifs d'Aichi pour la biodiversit&eacute;</label>
							<div class="km-value km-pre">{{implementationMeasure.aichiTarget | term:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.assessment">
							<label>&Eacute;valuation de l&rsquo;efficacit&eacute; des mesures de mise en &oelig;uvre prises pour obtenir les r&eacute;sultats souhait&eacute;s</label>
							<div class="km-value km-pre">{{implementationMeasure.assessment | term:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.assessmentDescription">
							<label>outils ou la m&eacute;thode employ&eacute;s pour l&rsquo;&eacute;valuation de l&rsquo;efficacit&eacute; ci-dessus</label>
							<div class="km-value km-pre">{{implementationMeasure.assessmentDescription | lstring:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.relevantDocuments">
							<label>Sites Internet, liens Internet et fichiers pertinents</label>
							<ul class="km-value">
								<li ng-repeat="item in implementationMeasure.relevantDocuments">
									<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <span ng-if="item.tag">({{item.tag}})</span>
								</li>
							</ul>
						</div>
						<div ng-show="implementationMeasure.otherRelevantInformation">
							<label>Tout autres renseignements pertinents</label>
							<div class="km-value km-pre">{{implementationMeasure.otherRelevantInformation | lstring:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.otherRelevantDocuments">
							<label>Autres sites Internet ou fichiers pertinents</label>
							<ul class="km-value">
								<li ng-repeat="item in implementationMeasure.otherRelevantDocuments">
									<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a> <span ng-if="item.tag">({{item.tag}})</span>
								</li>
							</ul>
						</div>
						<div ng-show="implementationMeasure.obstacles">
							<label>Obstacles et besoins scientifiques et techniques li&eacute;s &agrave; la mesure prise</label>
							<div class="km-value km-pre">{{implementationMeasure.obstacles | lstring:locale}}</div>
						</div>
						<div ng-show="implementationMeasure.obstaclesRelevantDocuments">
							<label>Sites Internet, liens Internet et fichiers pertinents</label>
							<ul class="km-value">
								<li ng-repeat="item in implementationMeasure.obstaclesRelevantDocuments">
									<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>	<span ng-if="item.tag">({{item.tag}})</span>
									
								</li>
							</ul>
						</div>
					</div>
					<br/>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-header">
			<h3>Partie III. &Eacute;valuation des progr&egrave;s accomplis dans la r&eacute;alisation de chaque objectif national</h3>
		</div>
		<div class="section-body">

			<div class="section-body">
				<div class="row " ng-repeat="progressAssessment in document.progressAssessments">
					<div class="col-md-12 panel panel-default1">
						<div class="panel-header clearfix">
							<h3>&Eacute;valuation du progr&egrave;s pour l'objectif de la biodiversit&eacute; AICHI {{progressAssessment.aichiTarget | term:locale}} <span ng-if="progressAssessment.nationalTarget">de l'objectif national{{getNationalTargetTitle(progressAssessment.nationalTarget.identifier)|lstring:locale}}</span>
							</h3>
						</div>
						<div class="panel-body">
							<div ng-show="progressAssessment.category">
								<label>Cat&eacute;gorie de progr&egrave;s accomplis dans la r&eacute;alisation de l&rsquo;objectif s&eacute;lectionn&eacute;</label>
								<div class="km-value km-pre">{{progressAssessment.category | term:locale}}</div>
							</div>
							<div ng-show="progressAssessment.date">
								<label>Date &agrave; laquelle l&rsquo;&eacute;valuation a &eacute;t&eacute; effectu&eacute;e</label>
								<div class="km-value km-pre">{{progressAssessment.date | formatDate}}</div>
							</div>
							<div ng-show="progressAssessment.summary">
								<label>R&eacute;sum&eacute; des preuves utilis&eacute;es</label>
								<div class="km-value km-pre">{{progressAssessment.summary | lstring:locale}}</div>
							</div>
							<div ng-show="progressAssessment.indicatorNotUsed==false && progressAssessment.indicator">
								<label>Indicateurs utilis&eacute;s dans cette &eacute;valuation</label>
								<div class="km-value km-pre">{{progressAssessment.indicator | lstring:locale}}</div>
							</div>
							<div ng-show="progressAssessment.indicatorNotUsed">
								<label>Aucun indicateur utilis&eacute;</label>
								<div class="km-value km-pre">{{progressAssessment.indicator | lstring:locale}}</div>
							</div>
							<div ng-show="progressAssessment.otherTools">
								<label>Autres outils ou moyens utilis&eacute;s pour &eacute;valuer les progr&egrave;s</label>
								<div class="km-value km-pre">{{progressAssessment.otherTools | lstring:locale}}</div>
							</div>
							<div ng-show="progressAssessment.confidenceLevel">
								<label>Niveau de confiance de l&rsquo;&eacute;valuation ci-dessus</label>
								<div class="km-value km-pre">{{progressAssessment.confidenceLevel | lstring:locale}}</div>
							</div>
							<div ng-show="progressAssessment.confidenceLevelDescription">
								<label>Explanation for the level of confidence indicated</label>
								<div class="km-value km-pre">{{progressAssessment.confidenceLevelDescription | lstring:locale}}</div>
							</div>
							<div ng-show="progressAssessment.relevantDocuments">
								<label>Sites Internet, liens Internet et fichiers pertinents</label>
								<div class="km-value km-pre">{{progressAssessment.relevantDocuments | lstring:locale}}</div>
							</div>
							<div ng-show="progressAssessment.adequacy">
								<label>Caract&egrave;re ad&eacute;quat des donn&eacute;es de suivi qui appuient l&rsquo;&eacute;valuation</label>
								<div class="km-value km-pre">{{progressAssessment.adequacy | lstring:locale}}</div>
							</div>
							<div ng-show="progressAssessment.adequacyDescription">
								<label>Syst&egrave;me de suivi de l'objectif</label>
								<div class="km-value km-pre">{{progressAssessment.adequacyDescription | lstring:locale}}</div>
							</div>
							<div ng-show="progressAssessment.otherRelevantDocuments">
								<label>Autres sites Internet ou fichiers pertinents</label>
								<div class="km-value km-pre">{{progressAssessment.otherRelevantDocuments | lstring:locale}}</div>
							</div>
						</div>
						<br/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-header">
			<h3>Partie IV. Description de la contribution nationale &agrave; la r&eacute;alisation de chaque Objectif mondial d&rsquo;Aichi pour la biodiversit&eacute;</h3>
		</div>
		<div class="section-body">
			<div class="panel panel-default" ng-repeat="aichiTarget in document.nationalContribution" ng-if="aichiTarget.identifier">
				<div class="panel-header clearfix">
					<h3>
						Objectif d&rsquo;Aichi pour la biodiversit&eacute;  {{aichiTarget | term:locale}}
					</h3>
				</div>
				<div class="panel-body" collapse="">
					<div ng-if="aichiTarget.identifier=='AICHI-TARGET-16' && (absNationalReport||absLinkedRecords)">
						<div ng-if="absNationalReport">
							<div>
								<label for="">Rapport national int&eacute;rimaire sur la mise en &oelig;uvre du Protocole de Nagoya</label><br/> <a translation-url target="_new" ng-href="{{absNationalReport.url_ss[0]}}">{{absNationalReport.uniqueIdentifier_s|uppercase}}</a> {{absNationalReport.title_t}}
							</div>
							<div ng-show="aichiTarget.nationalReportDescription">
								<label for="">Des informations suppl&eacute;mentaires pertinentes qui n'ont pas &eacute;t&eacute; incluses dans le rapport national int&eacute;rimaire</label>
								<div class="km-value km-pre">{{aichiTarget.nationalReportDescription | lstring:locale}}</div>
							</div>							
						</div>
						<div ng-if="absLinkedRecords">

							<div ng-show="aichiTarget.linkedRecordsDescription">
								<label for="">Description de la fa&ccedil;on dont votre pays a contribu&eacute; &agrave; la r&eacute;alisation de cet objectif de biodiversit&eacute; d'Aichi et dans quelle mesure</label>
								<div class="km-value km-pre">{{aichiTarget.linkedRecordsDescription | lstring:locale}}</div>
							</div>
							<label for="">Enregistrements du Centre d&rsquo;&eacute;change d'informations APA</label>
							<table class="table table-hover">
								<tbody>
									<tr ng-repeat="item in absLinkedRecords">
										<td class="ng-binding">
											<a translation-url target="_new" ng-href="{{item.url_ss[0]}}">{{item.uniqueIdentifier_s|uppercase}}</a> {{item.title_t|lstring:locale}}</td>											
										</td>
									</tr>
								</tbody>
							</table>
								
						</div>
					</div>
					<div ng-if="aichiTarget.identifier=='AICHI-TARGET-20' && resourceMobilisationReport">
						<label for="">cadre de pr&eacute;sentation des rapports financiers</label><br/> <a translation-url target="_new" ng-href="{{resourceMobilisationReport.url_ss[0]}}">{{resourceMobilisationReport.url_ss[0]}}</a> {{resourceMobilisationReport.title_t}}
					</div>
					<div ng-show="aichiTarget.description">
						<div class="km-value km-pre">{{aichiTarget.description | lstring:locale}}</div>
					</div>
					<div ng-show="aichiTarget.achievementActivities">
						<label for="">D&rsquo;autres activit&eacute;s qui contribuent &agrave; la r&eacute;alisation de l&rsquo;Objectif d&rsquo;Aichi pour la biodiversit&eacute; &agrave; l&rsquo;&eacute;chelle mondiale (facultatif).</label>
						<div class="km-value km-pre">{{aichiTarget.achievementActivities | lstring:locale}}</div>
					</div>
					
				</div>
			</div>
			<div class="panel panel-default" ng-if="document.nationalContribution.nationalContributionSDGs">
				<div class="panel-body">
						<label for="">
							Sur la base de la description de la contribution de votre pays &agrave; la r&eacute;alisation des Objectifs d&rsquo;Aichi pour la biodiversit&eacute;, veuillez d&eacute;crire comment et dans quelle mesure ces contributions soutiennent la mise en &oelig;uvre du Programme de d&eacute;veloppement durable &agrave; l&rsquo;horizon 2030 et des objectifs de d&eacute;veloppement durable.
						</label>
						<div class="km-value km-pre">{{document.nationalContribution.nationalContributionSDGs | lstring:locale}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-header">
			<h3>Partie V.   Description de la contribution nationale &agrave; la r&eacute;alisation des objectifs de la Strat&eacute;gie mondiale pour la conservation des plantes</h3>
		</div>
		<div class="section-body">
					<div class="row">
						<div class="col-md-12">	
							<div class="panel panel-default">						
								<div class="panel-body">
									<div ng-show="document.gspcNationalContribution.hasGSPCTargets">
										<label></label>
										<div class="km-value km-pre">Le pays a des objectifs nationaux relatifs aux objectifs de la Strat&eacute;gie mondiale pour la conservation des plantes</div>
									</div>
									<div ng-show="!document.gspcNationalContribution.hasGSPCTargets">
										<label></label>
										<div class="km-value km-pre">Le pays n'a pas d'objectifs nationaux relatifs aux objectifs de la Strat&eacute;gie mondiale pour la conservation des plantes</div>
									</div>
									<div ng-show="document.gspcNationalContribution.gspcTargetDescription">
										<label>D&eacute;tails sur les objectifs sp&eacute;cifiques</label>
										<div class="km-value km-pre">{{document.gspcNationalContribution.gspcTargetDescription | lstring:locale}}</div>
									</div>
									<div ng-show="document.gspcNationalContribution.plantConservationNetwork">
										<label>Informations sur les r&eacute;seaux actifs pour la conservation des plantes</label>
										<div class="km-value km-pre">{{document.gspcNationalContribution.plantConservationNetwork | lstring:locale}}</div>
									</div>
									<div ng-show="document.gspcNationalContribution.implementationMeasures">
										<label>Les mesures importantes prises par votre pays pour mettre en &oelig;uvre la Strat&eacute;gie mondiale pour la conservation des plantes.</label>
										<div class="km-value km-pre">{{document.gspcNationalContribution.implementationMeasures | lstring:locale}}</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default" ng-repeat="gspcTarget in document.gspcNationalContribution" ng-if="gspcTarget.identifier">
								<div class="panel-header clearfix">
									<h3>
										Objectif SMCP {{gspcTarget | term:locale}}
									</h3>
								</div>
								<div class="panel-body" collapse="">

									<div ng-show="gspcTarget.categoryProgress">
										Cat&eacute;gorie de progr&egrave;s accomplis dans la r&eacute;alisation de cet objectif de la Strat&eacute;gie mondiale pour la conservation des plantes au niveau national.
										<div class="km-value km-pre">{{gspcTarget.categoryProgress | term:locale}}</div>
									</div>
									<div ng-show="gspcTarget.progressDescription">
										Explication sur la cat&eacute;gorie de progr&egrave;s accomplis dans la r&eacute;alisation de cet objectif de la Strat&eacute;gie mondiale pour la conservation des plantes au niveau national.
										<div class="km-value km-pre">{{gspcTarget.progressDescription | lstring:locale}}</div>
									</div>
									<div ng-show="gspcTarget.progressDescription">
										Veuillez d&eacute;crire comment et dans quelle mesure votre pays a contribu&eacute; &agrave; la r&eacute;alisation de cet objectif de la Strat&eacute;gie mondiale pour la conservation des plantes et r&eacute;sumer les donn&eacute;es factuelles utilis&eacute;es &agrave; l&rsquo;appui de cette description:
										<div class="km-value km-pre">{{gspcTarget.description | lstring:locale}}</div>
									</div>
								</div>
							</div>
							<br/>
						</div>
					</div>
		</div>
	</div>
	<div class="section">
		<div class="section-header">
			<h3>Partie VII. Informations suppl&eacute;mentaires sur la contribution des peuples autochtones et des communaut&eacute;s locales (cette partie du rapport est facultative)</h3>
		</div>
		<div class="section-body">
			<div ng-show="document.iplcContribution">
				<div class="km-value km-pre">{{document.iplcContribution | lstring:locale}}</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-header">
			<h3>Partie VII. Mise &agrave; jour du profil du pays en mati&egrave;re de biodiversit&eacute;</h3>
		</div>
		<div class="section-body">
			<div class="panel panel-default">
				<div class="panel-body" collapse="">
					<div ng-show="document.biodiversityCountryProfile.statusAndTrends">
						<label>Donn&eacute;es factuelles sur la biodiversit&eacute;: &Eacute;tat et tendances de la biodiversit&eacute;, y compris les avantages d&eacute;coulant de la biodiversit&eacute; et des services et fonctions &eacute;cosyst&eacute;miques :</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.statusAndTrends | lstring:locale}}</div>
					</div>
					<div ng-show="document.biodiversityCountryProfile.mainDriversofChange">
						<label>Principales pressions exerc&eacute;es sur la biodiversit&eacute; et facteurs de changement (directs et indirects) dans la diversit&eacute; biologique :</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.mainDriversofChange | lstring:locale}}</div>
					</div>
					<div ng-show="document.biodiversityCountryProfile.nbsapImplementation">
						<label>Mise en &oelig;uvre des SPANB:</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.nbsapImplementation | lstring:locale}}</div>
					</div>
					<div ng-show="document.biodiversityCountryProfile.strategicPlanActions">
						<label>Ensemble de mesures prises pour contribuer &agrave; la mise en &oelig;uvre du Plan strat&eacute;gique pour la diversit&eacute; biologique 2011-2020:</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.strategicPlanActions | lstring:locale}}</div>
					</div>
					<div ng-show="document.biodiversityCountryProfile.supportMechanisms">
						<label>M&eacute;canismes de soutien &agrave; la mise en &oelig;uvre au niveau national (l&eacute;gislation, financement, renforcement des capacit&eacute;s, coordination, int&eacute;gration, etc.)</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.supportMechanisms | lstring:locale}}</div>
					</div>
					<div ng-show="document.biodiversityCountryProfile.monitoringReviewingMechanisms">
						<label>M&eacute;canismes de suivi et d&rsquo;examen de la mise en &oelig;uvre :</label>
						<div class="km-value km-pre">{{document.biodiversityCountryProfile.monitoringReviewingMechanisms | lstring:locale}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
