<div dir="rtl">
    <div class="panel panel-default">
        <div class="panel-header">
            <h3>القسم الثالث تقييم التقدم المحرز نحو تحقيق كل هدف وطني</h3>
        </div>
        <div class="panel-body">
            <div class="row  bottom-spacing">
                <div class="col-md-12"><span class="help-block">باستخدام النموذج أدناه، يرجى تقييم مستوى التقدم المحرز في كل من الأهداف الوطنية لبلدك أو الالتزامات المماثلة. وينبغي تكرار النموذج لكل هدف وطني. وإذا لم يكن بلدك قد وضع أهدافا وطنية، يرجى استخدام أهداف أيشي للتنوع البيولوجي. <a translation-url info-bar data-content="يتمثل الهدف من هذا القسم من التقرير الوطني السادس في جمع المعلومات عن التقدم المحرز نحو تحقيق الأهداف الوطنية لبلدك. وينبغي تكرار النموذج لكل هدف وطني. . إذا لم تضع بلدك أهدافا وطنية، يرجى تقييم التقدم الوطني نحو بلوغ أهداف أيشي للتنوع البيولوجي."
                            data-title="مساعدة CHM التقرير الوطني السادس"><i class="fa fa-info-circle fa-2x"></i></a></span><div class="col-md-12"><a translation-url href="#" class="btn openall pull-right" style="display:none" ng-click="openall('.progressAssessment')">افتح كل شيء <i class="fa  fa-arrow-circle-o-up" /></a> <a translation-url href="#" class="btn closeall pull-right" ng-click="closeall('.progressAssessment')">إغلاق كل شيء <i class="fa  fa-arrow-circle-o-down" /> </a><button class="btn btn-primary pull-right" ng-click="refreshAssessment()" ng-disabled="loadingAssessments"><i class="fa fa-spin fa-spinner" ng-if="loadingAssessments" />تحديث</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default progressAssessment" ng-repeat="progressAssessment in document.progressAssessments track by $index"
    id="pnl_{{progressAssessment.assessment.identifier}}">
        <div class="panel-header clearfix">
            <h3><!-- Progress assessment for --> <span ng-if="progressAssessment.nationalTarget"><!-- national target :  --> {{getNationalTargetTitle(progressAssessment.nationalTarget.identifier, locale)}}</span> <span ng-if="progressAssessment.aichiTarget"><!-- AICHI Biodiversity Target :  --> {{::aichiTargets[progressAssessment.aichiTarget.identifier].title[locale]}}</span><div class="pull-right" style="padding-right:10px"><a translation-url ng-href="#" data-toggle="collapse" class="collapse-icon" data-target="#progressAssessment{{$index}}"></a></div>
            </h3>
        </div>
        <div class="panel-body collapse in" id="progressAssessment{{$index}}">
            <div class="row">
                <div class="col-md-12">
                    <div class="km-control-group" name="progressAssessmentAdequacy" caption="التقييم الحالي للهدف الوطني">
                        <div ng-if="progressAssessment.assessment && !targetAssessments[progressAssessment.assessment.identifier].showRecord">
                            <div class="row btn-status" style="margin-right:0.1%">
                                <div ng-if="waitForWorkflow.nationalAssessment.identifier != progressAssessment.assessment.identifier || !waitForWorkflow.nationalAssessment"><span class="label label-primary pull-right  bg-published" style="margin-left:5px;"
                                        ng-if="targetAssessments[progressAssessment.assessment.identifier]._state_s=='public' || targetAssessments[progressAssessment.assessment.identifier].publicRecord">عام</span> <span class="label label-warning pull-right bg-draft" ng-if="targetAssessments[progressAssessment.assessment.identifier]._state_s=='draft'">مسودة</span> <span class="label label-warning pull-right bg-request" ng-if="targetAssessments[progressAssessment.assessment.identifier]._state_s=='workflow'">بانتظار الموافقة
</span></div>
                                <div ng-if="waitForWorkflow.nationalAssessment && waitForWorkflow.nationalAssessment.identifier == progressAssessment.assessment.identifier"><span class="label label-warning pull-right bg-request"><i class="fa fa-spin fa-spinner"></i > قيد التنفيذ...</span></div>
                            </div><img ng-if="progressAssessment.assessment.identifier && targetAssessments[progressAssessment.assessment.identifier].progress_s!='69C77387-2D3C-474C-BEA8-30F55D47AFBD'"
                                ng-src="/app/img/ratings/{{targetAssessments[progressAssessment.assessment.identifier].progress_s}}.png" class="pull-left" /><div>
                                <div>
                                    <h3>{{targetAssessments[progressAssessment.assessment.identifier].title|lstring:locale}}</h3>
                                </div>
                                <div>{{targetAssessments[progressAssessment.assessment.identifier].description|lstring:locale}}</div>
                            </div>
                        </div>
                        <div ng-if="!progressAssessment.assessment" class="label label-info"><span ng-if="progressAssessment.nationalTarget">التقييم مفقود للهدف الوطني.</span> <span ng-if="progressAssessment.aichiTarget">التقييم مفقود للهدف أيشي للتنوع البيولوجي.</span></div>
                        <div ng-if="targetAssessments[progressAssessment.assessment.identifier].showRecord" id="recordDetails_{{progressAssessment.assessment.identifier}}">
                            <div class="full-record-div">
                                <div style="margin:0 50%" ng-if="targetAssessments[progressAssessment.assessment.identifier].showRecordLoading"><i class="fa fa-spinner fa-spin"></i>Loading</div>
                                <view-national-assessment ng-model="targetAssessments[progressAssessment.assessment.identifier].document" locale="locale" header="false" link-target="_blank"></view-national-assessment>
                            </div>
                        </div>
                    </div>
                    <div class="km-control-group pull-right">
                        <div class="btn-group btn-group-xs" ng-if="waitForWorkflow.nationalAssessment.identifier != progressAssessment.assessment.identifier || !waitForWorkflow.nationalAssessment">
                            <button ng-if="!progressAssessment.assessment" target="_blank" class="btn btn-primary" ng-click="openDialog(progressAssessment,'directives/formats/forms/national-assessment-dialog','edit-national-assessment-dialog')"
                                ng-disabled="isDialogOpen"><i class="fa fa-plus"></i> إضافة</button>
                            <button title="Show full details" type="button" class="btn btn-primary"
                                ng-click="showRecord(targetAssessments[progressAssessment.assessment.identifier], 'national-assessment')"
                                ng-if="progressAssessment.assessment && !targetAssessments[progressAssessment.assessment.identifier].showRecord"><i class="fa fa-search"></i> Show full details</button>
                            <button title="Show full details" type="button" class="btn btn-primary" 
                                ng-click="showRecord(targetAssessments[progressAssessment.assessment.identifier], 'national-assessment')"
                                ng-if="targetAssessments[progressAssessment.assessment.identifier].showRecord"><i class="fa fa-eye-slash"></i> Hide full details</button><!-- <a translation-url title="View" ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s == 'public'"
                                target="_blank" class="btn btn-primary" ng-href="{{progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier].url}}">
                                <i class="fa fa-search"></i> view
                            </a> --> <a translation-url ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s=='workflow' "
                                title="مغلق للتعديل" target="_blank" class="btn btn-primary" ng-href="/management/requests/{{getWorkflowId(progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier])}}/publishRecord"><i class="fa fa-lock"></i> view status</a><button ng-click="openDialog(progressAssessment,'directives/formats/forms/national-assessment-dialog','edit-national-assessment-dialog')"
                                ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s!='workflow'"
                                title="تعديل" type="button" class="btn btn-primary"><i class="fa fa-edit"></i> تعديل</button>
                            <button ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s!='workflow'"
                                title="حذف" type="button" class="btn btn-primary" ng-click="delete(targetAssessments[progressAssessment.assessment.identifier],'nationalAssessment', $event)"><i class="fa fa-trash-o"></i> حذف</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
