<div class="container">

    <div class="row">

     
                 <h1 class="color-grey3">The Clearing-House Mechanism of the Convention on Biological Diversity (CHM)</h1>
                <h2 class="color-grey">Information Submission Services</span>

                </h2>
                <hr style=" position: absolute; width: 100%; left: 0;"/><br> <!--<hr>
                <h3 class="color-cbdgreen">Find Information</h3>
                 <form ng-submit="doSearch()" style="display:inline;" >
                        <div class="input-group" >
                            <input type="text" class="form-control" ng-model="searchQuery" placeholder="Search the CHM">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                </form> --> <!-- <hr>
                <div ng-show="user.isAuthenticated">
                    <h3 class="color-cbdgreen">Submit information</h3>

                    <div class="row">
                        <div class="col-md-3"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">Online Reporting</a></div>
                        <div class="col-md-3"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">Financial Reporting</a></div>
                        <div class="col-md-3"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">ABS Information</a></div>
                        <div class="col-md-3"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">BCH Information</a></div>
                        <div class="clearfix"></div>
                        <div class="col-md-3" style="margin-top:10px;"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">Virtual Library Resources</a></div>
                        <div class="col-md-3" style="margin-top:10px;"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">Case Studies</a></div>
                        <div class="col-md-3" style="margin-top:10px;"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">Biodiversity Related Organizations</a></div>
                        <div class="col-md-3" style="margin-top:10px;"><a translation-url href="" class="btn btn-sm btn-default" style="width:220px;">EBSAs</a></div>
                    </div>

                </div> --><div ng-hide="user.isAuthenticated">
        <div class="col-md-4 col-xs-12" >

                <h2 class="color-blue">Выполните вход</h2>
                <form ng-submit="signIn()">

                    <div class="alert alert-danger" ng-show="isUnavailable"><strong>Сбой операции.</strong> Служба недоступна. Повторите попытку позже.</div>

                    <div class="alert alert-danger" ng-show="isForbidden"><strong>Ошибка входа.</strong> Введен неверный адрес электронной почты или пароль.</div>

                    <div class="input-group" style="margin-bottom:8px"><span class="input-group-addon"><i class="fa fa-envelope" style="margin-right:-3px"></i></span><input type="text" class="form-control" id="inputEmail" required ng-model="email" placeholder="registered email address">
                    </div>

                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock" style="font-size:16px"></i></span><input type="password" required class="form-control" id="inputPassword" ng-model="password" placeholder="password">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 form-group">
                            <div style="position:relative;left:-16px;"><button type="submit" class="btn btn-primary">Выполните вход</button></div>
                        </div>
                    </div>

                    <div class="remember-forgot" style="font-size:12px"><!--<label class="remember">
                            <input type="checkbox" value="1" name="remember_me" checked="checked">&nbsp;
                            <span>Remember me</span>
                        </label>
                        <span class="separator">·</span>--> <a translation-url class="forgot" href="https://accounts.cbd.int/password/reset">Забыли пароль?</a> <span class="separator">&nbsp;|&nbsp;</span> <a translation-url class="signup" href="https://accounts.cbd.int/signup">Sign up?</a></div>

                </form>
            </div>
        </div>
    </div>


    <div class="row"><!-- <div class="col-xs-12"><h1 class="color-litegrey"> What is the Clearing-House Mechanism of the CBD?</h1></div> --><div class="clearfix"></div>
        <div class="col-md-4" style="padding-top:30px;">
            <div class="box">
              <h3>CBD Online Reporting Tool</h3>
              <p class="color-grey" style="height:130px;vertical-align:middle!important;">The CBD online reporting tool enables Parties to enter, review and, when appropriate, submit information requested in the guidelines for the sixth national report (decision XIII/27).</p>
              <p>
                  <md-button ng-if="!nationalReport6._workflow_s"  class="md-raised" style="width:100%;margin-left:0;left:-5px;" 
                    ng-click="goto('/submit/nationalReport6/', 'nationalReport6')">Go to CBD online reporting tool »</md-button>
                  <md-button ng-if="nationalReport6._workflow_s"  class="md-raised" style="width:100%;margin-left:0;left:-5px;" 
                    ng-click="goto('/management/requests/', 'nationalReport6')">Go to CBD online reporting tool »</md-button>
              </p>

            </div>
        </div>
        <div class="col-md-4" style="padding-top:30px;">
            <div class="box">
              <h3>Механизм посредничества для регулирования ДГРСИВ</h3>
              <p class="color-grey" style="height:130px;vertical-align:middle!important;">The Access and Benefit-sharing Clearing-House (ABS Clearing-House, ABSCH) is a platform for exchanging information on access and benefit-sharing established by Article 14 of the Nagoya Protocol, as part of clearing-house mechanism under Article 18, paragraph 3 of the Convention.</p><a class="md-button md-raised" style="width:100%;margin-left:0;left:-5px;" ng-href="https://absch.cbd.int">Go to the absch.cbd.int »</a></p>
            </div>
        </div>
       
        <div class="col-md-4" style="padding-top:30px;">
          <h3>BCH Clearing-House</h3>
          <p class="color-grey"  style="height:130px;vertical-align:middle!important;">The Biosafety Clearing-House (BCH) is a mechanism set up by the Cartagena Protocol on Biosafety to facilitate the exchange of information on Living Modified Organisms (LMOs) and assist the Parties to better comply with their obligations under the Protocol.</p>
          <p><a class="md-button md-raised" style="width:100%;margin-left:0;left:-5px;" ng-href="http://bch.cbd.int">Go to the bch.cbd.int <i class="fa fa-angle-double-right"></i></a></p>
        </div>
    </div>

     <div class="row"><!-- <div class="col-xs-12"><h1 class="color-litegrey"> What is the Clearing-House Mechanism of the CBD?</h1></div> --><div class="clearfix"></div>
         <div class="col-md-4 " style="padding-top:30px;">
          <h3>Система финансовой отчетности</h3>
          <p class="color-grey"  style="height:130px;vertical-align:middle!important;">The financial reporting framework, adopted by decision XII/3, is intended for use by Parties for providing baseline information and reporting on their contribution to reach the global financial targets, under Aichi Biodiversity Target 20, as adopted by the Conference of the Parties to the Convention at its twelfth meeting, in accordance with Article 20.</p>
          <p><md-button class="md-raised" style="width:100%;margin-left:0;left:-5px;" ng-click="goto('/submit/')">Submit Report »</md-button></p>
        </div>
        <div class="col-md-4" style="padding-top:30px;">
          <h3>Справочные записи</h3>
          <p  class="color-grey" style="height:130px;vertical-align:middle!important;">The CHM's reference records hosts a wide variety of resources relevant to the implementation of the CBD and it's protocols, including books, documents, capacity-building materials, meeting or conference proceedings, videos, news services, websites and databases, and others.</p>
          <p><md-button class="md-raised" style="width:100%;margin-left:0;left:-5px;" ng-click="goto('/submit/')">Contribute »</md-button></p>
        </div>
        <div class="col-md-4" style="padding-top:30px;">
                <h3>The Convention website</h3>
                <p  class="color-grey" style="height:130px;vertical-align:middle!important;">The Secretariat of the Convention on Biological Diversity was established (Article 24) to support the goals of the Convention. Его основными функциями являются подготовка и обслуживание совещаний Конференции Сторон (КС) и других вспомогательных органов Конвенции, а также координация деятельности с соответствующими международными органами.</p>
                <p><md-button class="md-raised" style="width:100%;margin-left:0;left:-5px;" ng-click="goto('/submit/')">view cbd.int »</md-button></p>
              </div>
    </div><!-- <div class="home-bottom" style="position:relative">
        <div class="row main" id="main" style="padding-top:6px">
            <div class="col-lg-3 hidden-md hidden-sm hidden-xs" style="padding-top:20px;padding-bottom:20px;">
                <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/starfish.jpg');background-size:320px">
                    <h1 style="margin-bottom:0px;color:white">Marine</h1>
                    <h1 style="margin-top:-10px;color:white;font-size:72px">EBSAs.</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 hidden-xs" style="padding-top:20px;padding-bottom:20px">
                <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/background-world.jpg');-webkit-filter: saturate(60%);background-size:320px">
                    <h1 style="color:black;margin-bottom:0">National Biodiversity Strategies and<br> Action Plans</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 hidden-sm hidden-xs" style="padding-top:20px;padding-bottom:20px">
                <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/background-blue.jpg');background-size:320px;">
                    <h5 style="margin-top:4px;margin-bottom:0px;color:white;font-size:12px">INTEROPERABILITY</h5>
                    <h1 style="margin-top:0px;color:white">Introducing <span style="font-size:140%">REST API.</span></h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6" style="padding-top:20px;padding-bottom:20px;padding-left:5px;">
                <div style="border-radius:8px;padding:10px;height:160px;background:url('/app/img/leaves.jpg');background-size:320px;border:1px solid #ccc">
                    <h1 style="margin-bottom:10px;line-height:38px"><b>Resource</b> <span style="font-size:110%">Mobilization</span><h1>
                    <div style="margin-top:-30px;font-size:72px">
                    <i class="fa fa-caret-right" style="margin-right:-14px"></i>
                    <i class="fa fa-caret-right" style="margin-right:-14px"></i>
                    <i class="fa fa-caret-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> --> <!--
<div class="container">
        <div class="row">
            <div class="col-xs-12"><h1 class="color-litegrey">Latest Information</h1></div>
            <div class="clearfix"></div>
            <div class="col-md-6 col-xs-12">
                <h3>News</h3>
                <news theme="CHM" max-items="3" page-size="5" show-pager="true" sort-order="date_dt desc">
                    {{title}}
                </news>
            </div>

            <div class="col-md-6 col-xs-12">
                <h3>Meetings</h3>
                <meetings theme="CHM" max-items="5" page-size="5" show-pager="false" sort-order="dateStart_dt desc">
                    {{title}}
                </meetings>
            </div>

        </div>
    </div> --></div>
