<div style="margin-left:10%;margin-right:10%"><br/><style>
        pdfviewer canvas {
            margin: auto;
            max-width: 100%!important;
            border-bottom: 1px solid #ddd
        }

        .title-bar {
            min-height: 50px;
            background: #fff;
            border: 1px solid #ddd;
            text-align: center;
            padding-top: 10px;
        }
        #viewPdf{
            position: inherit!important;
            min-height: 1000px;
        }

    </style>
    <div class="row">
        <div class="row">
            <div class="title-bar">{{pdf.fileName|uppercase}}</div>
        </div>
        <div class="row" style="background:#fff;border: 1px solid #ddd;">
            <div class="col-md-2">
                <div class="" style="width:100%;"><br> Nom de fichier {{pdf.fileName|uppercase}} <br> <br> <a ng-href="{{pdf.src}}" download="{{pdf.fileName}}" class="btn btn-success" target="_blank"><i class="fa fa-download"></i> Download</a> <a href="#" ng-click="loadLangPdf(pdf, true)" class="btn btn-success"><i class="fa fa-refresh"></i> Force reload</a> <br> <br><div class="alert alert-info" role="alert">View in<br><div class="btn-group"><a ng-repeat="lang in ['ar', 'fr', 'en', 'es', 'ru', 'zh']" ng-href="#" 
                            class="btn btn-primary btn-xs" ng-bind="lang|uppercase" ng-click="loadLangPdf(lang)"></a></div> <br> Generate individual language PDF</div> 
                    <div class="alert alert-success" role="alert"><strong><a ng-href="#" ng-click="loadLangPdf()" class="btn btn-primary btn-xs" >Generate all available language PDF</a></strong></div>                   
                </div>
            </div>
            <div class="col-md-10" style="padding:0px;border-right: 1px solid #ddd">
                <div class="file-viewer-preview file-preview">
                    <div style="margin-left:50%;margin-top:5%;" ng-if="loading"><i class="fa fa-spin fa-3x fa-circle-o-notch" ></i> <br/> chargement pdf</div>
                    <link rel="stylesheet" href="./viewer.css">
                    <div id="viewPdf">
                    </div>                        
                </div>
            </div>
        </div>
    </div>

</div>
