<div class="viewForm">
	<h2>{{document.date.substr(0,4)}} - {{document.progress | term:locale}}</h2>

	<div ng-show="document.government">
		<label>国家</label>
		<div class="km-value">
			<span>{{document.government | term:locale}} </span>
		</div>
	</div>

	<div ng-show="document.description">
		<label>描述</label>
		<div class="km-value km-pre" ng-bind="document.description | lstring:locale"></div>
	</div>

	<div ng-show="document.nationalTarget">

		<legend>目标</legend>
		<div ng-show="document.nationalTarget">
			<label>目标</label>
			<ul class="km-value">
			    <li ng-repeat="item in nationalTarget">{{item.title | lstring:locale}} </li>
			</ul>
		</div>
	</div>

	


	<div ng-show="document.assessmentText || document.progress">
		<legend>实施所选目标取得的进展情况分类</legend>

		<div ng-show="document.assessmentText">
			<label>评估</label>
			<div class="km-value km-pre">{{document.assessmentText | lstring:locale}}</div>
		</div>
		<div ng-show="document.date">
			<label>评估完成日期</label>
			<div class="span4">
				<div class="km-value km-pre">{{document.date | lstring:locale}}</div>
			</div>
		</div>
		<div ng-show="document.progress">
			<label>实施所选目标取得的进展情况评估总结</label>
			<span class="km-value">{{document.progress | term:locale}} </span>
		</div>

	</div>


	<div ng-show="document.nationalIndicatorsuserd || document.nationalIndicators || document.strategicPlanIndicators || document.implementationActivities">
		<legend>指标和活动</legend>
		
		<div ng-show="document.nationalIndicatorsuserd===false">
			<label></label>
			<div class="km-value">
				贵国没有使用指标评估该国家目标的进展
			</div>
		</div>
		<div ng-show="document.nationalIndicators">
			<label>本评估采用的指标</label>
			<div class="km-value">
				{{item.nationalIndicators | lstring:locale}}
			</div>			
		</div>
		

		<div ng-show="document.strategicPlanIndicators">
			<label>本评估采用的指标链接</label>
			<ul class="km-value">
			    <li ng-repeat="item in strategicPlanIndicators">{{item.title | lstring:locale}} </li>
			</ul>
		</div>

		<div ng-show="document.implementationActivities">
			<label>与该评估相关的国家层次活动的链接</label>
			<ul class="km-value">
			    <li ng-repeat="item in document.implementationActivities">{{item.title | lstring:locale}} </li>
			</ul>
		</div>
	</div>


	<div ng-show="document.documentText||document.documentLinks">

		<legend>相关文件和信息</legend>

		<div ng-show="document.documentText">
			<label>相关信息</label>
			<div class="km-value km-pre">{{document.documentText|lstring:locale}}</div>
		</div>

		<div ng-show="document.documentLinks">
			<label>相关网站、链接和文件</label>
			<div class="km-value" ng-repeat="item in document.documentLinks">
				<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
			</div>
		</div>
	</div>

	<div ng-show="document.confidence || document.confidenceInfo">

		<legend>置信水平</legend>

		<div ng-show="document.confidence">
			<label>上述评估的置信水平</label>
			<span class="km-value">{{document.confidence | term:locale}} </span>
		</div>

		<div ng-show="document.confidenceInfo">
			<label>上述评估的置信水平</label>
			<div class="km-value km-pre">{{document.confidenceInfo | lstring:locale}}</div>
		</div>

	</div>
	<div ng-show="document.adequacy">
		<label>支持评估监测信息的适足性</label>
		<div class="km-value km-pre">{{document.adequacy | term:locale}}</div>
	</div>
	<div ng-show="document.adequacyDescription">
		<label>该目标的监测系统</label>
		<div class="km-value km-pre">{{document.adequacyDescription | lstring:locale}}</div>
	</div>
	<div ng-show="document.otherRelevantDocuments">
		<label>其他相关网址或附加文档</label>
		<ul class="km-value">
			<li ng-repeat="item in document.otherRelevantDocuments"><a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a></li>
		</ul>
	</div>
	<div ng-show="document.relevantInformation||document.relevantDocuments">

		<legend>更多信息 </legend>

		<div ng-show="document.relevantInformation">
			<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale | markdown"></div>
		</div>

		<div ng-show="document.relevantDocuments">
			<label>其他相关网址或附加文档</label>
			<div class="km-value" ng-repeat="item in document.relevantDocuments">
				<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
			</div>
		</div>

	</div>
</div>
