<div class="viewForm">
	<h2>{{document.organization | lstring:locale}} <i ng-show="document.acronym">({{document.organizationAcronym | lstring:locale}})</i></h2>

	<div ng-show="document.government">
		<label>国家</label>
		<div class="km-value">
			{{document.government | term}}
		</div>
	</div>

	<div ng-show="document.description">
		<label>国家目标的建立依据</label>
		<div class="km-value km-pre" ng-bind="document.description | lstring:locale"></div>
	</div>


	<div ng-show="document.jurisdiction||document.jurisdictionInfo">

		<legend>置信水平</legend>

		<div ng-show="document.jurisdiction">
			<div class="km-value">
				{{document.government | term}}
			</div>
		</div>

		<div ng-show="document.jurisdictionInfo">
			<label>适用级别的细节</label>
			<div class="km-value km-pre" ng-bind="document.jurisdictionInfo | lstring:locale"></div>
		</div>
	</div>


	<div ng-show="document.aichiTargets || document.otherAichiTargets">

		<legend>国家目标与爱知目标的相关性</legend>

		<div ng-show="document.aichiTargets">
			<label>爱知目标</label>
			<div class="km-value" ng-repeat="item in document.aichiTargets">{{document.government | term}}</div>
		</div>

		<div ng-show="document.otherAichiTargets">
			<label>爱知次目标</label>
			<div class="km-value" ng-repeat="item in document.otherAichiTargets">{{document.government | term}}</div>
		</div>
		<div ng-show="document.noOtherAichiTargetsDescription">
			<label>国家目标没有对应的爱知生物多样性目标或者与《生物多样性战略计划》的其他部分相关</label>
			<div class="km-value km-pre" ng-bind="document.noOtherAichiTargetsDescription | lstring:locale"></div>
		</div>
		
	</div>

	<div ng-show="document.documentText||document.documentLinks">

		<legend>相关文件和信息</legend>

		<div ng-show="document.documentText">
			<label>其它相关信息</label>
			<div class="km-value km-pre">{{document.designation| lstring:locale}}</div>
		</div>

		<div ng-show="document.documentLinks">
			<label>相关网站、链接和文件</label>
			<div class="km-value" ng-repeat="item in document.documentLinks">
				<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
			</div>
		</div>
	</div>


	<div ng-show="document.relevantInformation||document.relevantDocuments">

		<legend>更多信息</legend>

		<div ng-show="document.relevantInformation">
			<div class="km-value" ng-bind-html="document.relevantInformation | lstring:locale | markdown"></div>
		</div>

		<div ng-show="document.relevantDocuments">
			<label>其他相关网址或附加文档</label>
			<div class="km-value" ng-repeat="item in document.relevantDocuments">
				<a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a>
			</div>
		</div>

	</div>
</div>
