<div class="col-md-12 panel panel-default view-national-assessment">
	<div class="panel-body">
		<div class="viewForm">
			<div class="col-md-12" style="padding-left:0px" ng-style="{ direction : (document.progress| term:locale|direction:locale) }"><img ng-if="document.progress.identifier!='69C77387-2D3C-474C-BEA8-30F55D47AFBD'" ng-src="/app/img/ratings/{{document.progress.identifier}}.png" class="pull-left"><legend ng-if="document.progress">{{document.date.substr(0,4)}} - {{document.progress | term:locale}}</legend>
			</div>
			<div ng-show="document.government" class="col-md-12">
				<label>国家</label>
				<div class="km-value" ng-style="{ direction : (document.government| term:locale|direction:locale) }"><span>{{document.government | term:locale}} </span></div>
			</div>

			<div ng-show="document.description" class="col-md-12">
				<label>描述</label>
				<km-value-ml value="document.description" locales="locale" km-pre html></km-value-ml>
			</div>

			<div ng-show="document.aichiTarget||nationalTarget" class="col-md-12 assessment-tagets">
				<label>目标</label>
				<div >
					<div ng-repeat="item in nationalTarget">
						<km-value-ml value="item.title" locales="locale"></km-value-ml>
					</div>
					<div class="km-value" ng-if="document.aichiTarget" ng-style="{ direction : (document.aichiTarget| term:locale|direction:locale) }">{{document.aichiTarget | term:locale}} </div>
				</div>
			</div>

			<div ng-show="document.assessmentText || document.progress || document.date" class="col-md-12">
				<legend>实施所选目标取得的进展情况分类</legend>
				<div ng-show="document.assessmentText">
					<label>实施所选目标取得的进展情况分类</label>
					<div class="km-value km-pre" ng-style="{ direction : (document.progress| term:locale|direction:locale) }">{{document.progress | term:locale}}</div>
				</div>
				<div ng-show="document.date">
					<label>评估完成日期</label>
					<div class="span4">
						<div class="km-value km-pre" ng-style="{ direction : locale=='ar' ? 'rtl':'ltr'}">{{document.date | localeFormatDate:locale}}</div>
					</div>
				</div>
				<div ng-show="document.assessmentText">
					<label>实施所选目标取得的进展情况评估总结</label>
					<km-value-ml value="document.assessmentText" locales="locale" km-pre html></km-value-ml>
				</div>

			</div>


			<div class="col-md-12" ng-show="document.nationalIndicatorsUsed || document.nationalIndicators || document.strategicPlanIndicators || document.implementationActivities">
				<legend>指标和活动</legend>

				<div ng-show="document.nationalIndicatorsUsed===false">
					<label></label>
					<div class="km-value" >贵国没有使用指标评估该国家目标的进展</div>
				</div>
				<div ng-show="document.nationalIndicatorsUsed && document.nationalIndicators">
					<label>本评估采用的指标</label>
					<km-value-ml value="document.nationalIndicators" locales="locale" html></km-value-ml>
				</div>
				<div ng-show="document.documentText">
					<label>请说明评估进展情况所用的任何其他工具或手段。</label>
					<km-value-ml value="document.documentText" locales="locale" km-pre html></km-value-ml>
				</div>

				<div ng-show="document.documentLinks">
					<label>相关网站、链接和文件</label>
					<div class="km-value" >
						<div ng-repeat="item in document.documentLinks"><a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a></div>
					</div>
				</div>

				<div ng-show="document.strategicPlanIndicators">
					<label>本评估采用的指标链接</label>
					<div class="km-value">
						<div ng-repeat="item in strategicPlanIndicators" ng-style="{ direction : (item.title|direction:locale) }">{{item.title | lstring:locale}} </div>
					</div>
				</div>

				<div ng-show="document.implementationActivities">
					<label>与该评估相关的国家层次活动的链接</label>
					<div class="km-value">
						<div ng-repeat="item in document.implementationActivities" ng-style="{ direction : (item.title|direction:locale) }">{{item.title | lstring:locale}} </div>
					</div>
				</div>
			</div>

			<div ng-show="document.confidence || document.confidenceInfo || document.adequacy||document.adequacyDescription||document.otherRelevantDocuments" class="col-md-12">

				<legend>置信水平</legend>

				<div ng-show="document.confidence">
					<label>上述评估的置信水平</label>
					<div class="km-value" ng-style="{ direction : (document.confidence | term:locale|direction:locale) }">{{document.confidence | term:locale}} </div>
				</div>

				<div ng-show="document.confidenceInfo">
					<label>上述评估的置信水平</label>
					<km-value-ml value="document.confidenceInfo" locales="locale" km-pre html></km-value-ml>
				</div>
				<div ng-show="document.adequacy">
					<label>支持评估监测信息的适足性</label>
					<div class="km-value km-pre" ng-style="{ direction : (document.adequacy | term:locale|direction:locale) }">{{document.adequacy | term:locale}}</div>
				</div>
				<div ng-show="document.adequacyDescription">
					<label>该目标的监测系统</label>
					<km-value-ml value="document.adequacyDescription" locales="locale" km-pre html></km-value-ml>
				</div>
				<div ng-show="document.otherRelevantDocuments">
					<label>其他相关网址或附加文档</label>
					<div class="km-value">
						<div ng-repeat="item in document.otherRelevantDocuments"><a translation-url target="{{target}}" ng-href="{{item.url}}">{{item.name||item.url}}</a></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
