<div>
    <div class="panel panel-default">
        <div class="panel-header">
            <h3>第三部分评估落实各项国家目标的进展</h3>
        </div>
        <div class="panel-body">
            <div class="row  bottom-spacing">
                <div class="col-md-12"><span class="help-block">请使用下方模板评估贵国各项国家目标或类似承诺的落实情况。本模板应予复制，以供逐一填写所报告的各项目标。如果贵国尚未确定国家目标，请使用爱知生物多样性目标代之。 <a translation-url info-bar data-content="第三部分旨在收集关于贵国各项国家目标落实进展的信息。本模板应予复制，以供逐一填写贵国各项国家目标相关信息如果贵国尚未确定国家目标，请评估爱知生物多样性目标在国家层次上的进展情况。"
                            data-title="CHM幫助：第六次国家报告"><i class="fa fa-info-circle fa-2x"></i></a></span><div class="col-md-12"><a translation-url href="#" class="btn openall pull-right" style="display:none" ng-click="openall('.progressAssessment')">打开所有文档 <i class="fa  fa-arrow-circle-o-up" /></a> <a translation-url href="#" class="btn closeall pull-right" ng-click="closeall('.progressAssessment')">关闭所有文档 <i class="fa  fa-arrow-circle-o-down" /> </a><button class="btn btn-primary pull-right" ng-click="refreshAssessment()" ng-disabled="loadingAssessments"><i class="fa fa-spin fa-spinner" ng-if="loadingAssessments" />刷新</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default progressAssessment" ng-repeat="progressAssessment in document.progressAssessments track by $index"
    id="pnl_{{progressAssessment.assessment.identifier}}">
        <div class="panel-header clearfix">
            <h3><!-- Progress assessment for --> <span ng-if="progressAssessment.nationalTarget"><!-- national target :  --> {{getNationalTargetTitle(progressAssessment.nationalTarget.identifier, locale)}}</span> <span ng-if="progressAssessment.aichiTarget"><!-- AICHI Biodiversity Target :  --> {{::aichiTargets[progressAssessment.aichiTarget.identifier].title[locale]}}</span><div class="pull-right" style="padding-right:10px"><a translation-url ng-href="#" data-toggle="collapse" class="collapse-icon" data-target="#progressAssessment{{$index}}"></a></div>
            </h3>
        </div>
        <div class="panel-body collapse in" id="progressAssessment{{$index}}">
            <div class="row">
                <div class="col-md-12">
                    <div class="km-control-group" name="progressAssessmentAdequacy" caption="国家目标的目前评估">
                        <div ng-if="progressAssessment.assessment && !targetAssessments[progressAssessment.assessment.identifier].showRecord">
                            <div class="row btn-status" style="margin-right:0.1%">
                                <div ng-if="waitForWorkflow.nationalAssessment.identifier != progressAssessment.assessment.identifier || !waitForWorkflow.nationalAssessment"><span class="label label-primary pull-right  bg-published" style="margin-left:5px;"
                                        ng-if="targetAssessments[progressAssessment.assessment.identifier]._state_s=='public' || targetAssessments[progressAssessment.assessment.identifier].publicRecord">公众</span> <span class="label label-warning pull-right bg-draft" ng-if="targetAssessments[progressAssessment.assessment.identifier]._state_s=='draft'">草案</span> <span class="label label-warning pull-right bg-request" ng-if="targetAssessments[progressAssessment.assessment.identifier]._state_s=='workflow'">等待批准
</span></div>
                                <div ng-if="waitForWorkflow.nationalAssessment && waitForWorkflow.nationalAssessment.identifier == progressAssessment.assessment.identifier"><span class="label label-warning pull-right bg-request"><i class="fa fa-spin fa-spinner"></i > 正在处理...</span></div>
                            </div><img ng-if="progressAssessment.assessment.identifier && targetAssessments[progressAssessment.assessment.identifier].progress_s!='69C77387-2D3C-474C-BEA8-30F55D47AFBD'"
                                ng-src="/app/img/ratings/{{targetAssessments[progressAssessment.assessment.identifier].progress_s}}.png" class="pull-left" /><div>
                                <div>
                                    <h3>{{targetAssessments[progressAssessment.assessment.identifier].title|lstring:locale}}</h3>
                                </div>
                                <div>{{targetAssessments[progressAssessment.assessment.identifier].description|lstring:locale}}</div>
                            </div>
                        </div>
                        <div ng-if="!progressAssessment.assessment" class="label label-info"><span ng-if="progressAssessment.nationalTarget">没有评估的国家目标</span><span ng-if="progressAssessment.aichiTarget">没有评估的爱知生物多样性目标</span></div>
                        <div ng-if="targetAssessments[progressAssessment.assessment.identifier].showRecord" id="recordDetails_{{progressAssessment.assessment.identifier}}">
                            <div class="full-record-div">
                                <div style="margin:0 50%" ng-if="targetAssessments[progressAssessment.assessment.identifier].showRecordLoading"><i class="fa fa-spinner fa-spin"></i>正在加载...</div>
                                <view-national-assessment ng-model="targetAssessments[progressAssessment.assessment.identifier].document" locale="locale" header="false" link-target="_blank"></view-national-assessment>
                            </div>
                        </div>
                    </div>
                    <div class="km-control-group pull-right">
                        <div class="btn-group btn-group-xs" ng-if="waitForWorkflow.nationalAssessment.identifier != progressAssessment.assessment.identifier || !waitForWorkflow.nationalAssessment">
                            <button ng-if="!progressAssessment.assessment" target="_blank" class="btn btn-primary" ng-click="openDialog(progressAssessment,'directives/formats/forms/national-assessment-dialog','edit-national-assessment-dialog')"
                                ng-disabled="isDialogOpen"><i class="fa fa-plus"></i> 添加</button>
                            <button title="Show full details" type="button" class="btn btn-primary"
                                ng-click="showRecord(targetAssessments[progressAssessment.assessment.identifier], 'national-assessment')"
                                ng-if="progressAssessment.assessment && !targetAssessments[progressAssessment.assessment.identifier].showRecord"><i class="fa fa-search"></i> Show full details</button>
                            <button title="Show full details" type="button" class="btn btn-primary" 
                                ng-click="showRecord(targetAssessments[progressAssessment.assessment.identifier], 'national-assessment')"
                                ng-if="targetAssessments[progressAssessment.assessment.identifier].showRecord"><i class="fa fa-eye-slash"></i> Hide full details</button><!-- <a translation-url title="View" ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s == 'public'"
                                target="_blank" class="btn btn-primary" ng-href="{{progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier].url}}">
                                <i class="fa fa-search"></i> view
                            </a> --> <a translation-url ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s=='workflow' "
                                title="已锁定供编辑" target="_blank" class="btn btn-primary" ng-href="/management/requests/{{getWorkflowId(progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier])}}/publishRecord"><i class="fa fa-lock"></i> view status</a><button ng-click="openDialog(progressAssessment,'directives/formats/forms/national-assessment-dialog','edit-national-assessment-dialog')"
                                ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s!='workflow'"
                                title="编辑" type="button" class="btn btn-primary"><i class="fa fa-edit"></i> 编辑</button>
                            <button ng-if="progressAssessment.assessment && targetAssessments[progressAssessment.assessment.identifier]._state_s!='workflow'"
                                title="删除" type="button" class="btn btn-primary" ng-click="delete(targetAssessments[progressAssessment.assessment.identifier],'nationalAssessment', $event)"><i class="fa fa-trash-o"></i> 删除</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
